<div ng-controller="modelController">       
	<div class="modelstitle">
		<div class="modal-header mdlheader">
			<h3 class="modal-title mdltitle" ng-model="modalTitle" >{{modalTitle}}</h3>
		</div>
		<div class="modal-body mdlbody">
			<p ng-model="modalContent" style="white-space: pre-line">{{modalContent}}</p><br/>
		</div>
		<div class="modal-footer footerbtn">
			<button class="btn btn-primary btnwarning"  type="button" ng-click="okClicked()">OK</button>
		</div>
	</div>
</div>



