<div class="row">
	<div class="col-sm-1">
		<div class="left-nav"  ng-controller="homeController" >
			<ul ng-init="selectedTab = 'audits'">			   

			   <li ng-class="{'active':selectedTab === 'dashboard'}" ng-click="selectedTab = 'dashboard'" class="dashboard"><a ng-click="gotoHome()"><span>Dashboard</span></a></li>

			   <li ng-class="{'active':selectedTab === 'audits'}" ng-click="selectedTab = 'audits';audit()" class="audits"><a ng-click="audit()"><span>Audits</span></a ></li>

			   <li ng-class="{'active':selectedTab === 'truckforcedealers'}" ng-click="selectedTab = 'truckforcedealers'" class="truckforcedealers"><a ng-click="dealer()"><span>TruckForce Dealers</span></a></li>

			   <li ng-class="{'active':selectedTab === 'manageteams'}" ng-click="selectedTab = 'manageteams'" class="manageteams"><a ng-click="manageTeams();"><span>Manage Teams</span></a></li>

			   <li ng-class="{'active':selectedTab === 'managelocations'}" ng-click="selectedTab = 'managelocations'" class="managelocations"><a ng-click="goTolocation()" ><span>Manage Locations</span></a></li>

			   <li ng-class="{'active':selectedTab === 'managetemplate'}" ng-click="selectedTab = 'managetemplate'" class="managetemplate"><a ng-click="template()"><span>Manage Audit Templates</span></a></li>

			</ul>
		</div>
	</div>
	<div class="audit-background auditDetails">
		<div class="col-sm-11">
			<div class="col-sm-12 ">
				<div class="super-truck">
				   <h1>Audits</h1>
				</div>
				<div class="back-button pull-right " style="margin-right: 62px;">
				 <i class="fa fa-chevron-left" aria-hidden="true"></i><a href="" ng-click="audit()" class="back-row">Back To Audit List</a>
				
				</div>
				
			</div>
			<div class="col-sm-12">
				<div class="super-audit">
					<div class="col-sm-8">
					<h2>{{selectedAuditFromList[0].TempName}}</h2>
					</div>
					<div class="col-sm-4">
					 <button class="btn btn-default pull-right download-audits" ng-click="generatePDF();" type="button"><i class="fa fa-download" aria-hidden="true"></i></button> 
				   </div>
				</div>
				
			</div>
			<div class="col-sm-12">
				<div class="audit-second">
					<div class="col-sm-3">
						<div class="audit-date">
							<h2>Audit date: <p style="text-transform: uppercase">{{selectedAuditFromList[0].AuditDate | date:'dd-MM-yyyy'}}</p></h2>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="audit-person">
							<h2>Audit Person Contact On Site: <p style="text-transform: uppercase">{{selectedAuditFromList[0].AuditPersonContact}}</p></h2>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="audit-done">
							<h2>Audit Done By: <p style="text-transform: uppercase">{{selectedAuditFromList[0].AuditDoneBy }}</p></h2>
						</div>
					</div>
				</div>
				<div class="audit-seconds">
					<div class="col-sm-3">
						<div class="audit-date">
							<h4>Company Name: <p style="text-transform: uppercase">{{selectedAuditFromList[0].DelearName}}</p></h2>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-4">
							<div class="audit-person">
								<h4>Address: <p style="text-transform: uppercase">{{selectedAuditFromList[0].address}}</p></h2>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="audit-person">
								<h4>Post Code: <p style="text-transform: uppercase">{{selectedAuditFromList[0].postCode}}</p></h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="audit-done">
							<h4>Country: <p style="text-transform: uppercase">{{selectedAuditFromList[0].Country}}</p> </h2>
						</div>
					</div>
				</div>
				<div class="audits-seconds">
					<div class="col-sm-3">
						<div class="audit-date">
							<h4>City: <p style="text-transform: uppercase">{{selectedAuditFromList[0].city}}</p></h2>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-sm-4">
							<div class="audit-person">
								<h4>Fos Vendor Code:  <p style="text-transform: uppercase">{{selectedAuditFromList[0].Pos_code}}</p></h2>
							</div>
						</div>
						<div class="col-sm-8">
							<div class="audit-person">
								<h4>Truck Tire Sales Person:  <p style="text-transform: uppercase">{{selectedAuditFromList[0].tts}}</p></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="audit-comment">
					<h2>Audit Comment</h2>
				</div>
				<div class="audit-comments" ng-show="selectedAuditFromList[0].auditComments!='undefined'&&selectedAuditFromList[0].auditComments.length>0">
					<h2>{{selectedAuditFromList[0].auditComments}} </h2>
				</div>
			</div>
		</div>
    </div>		
</div>
