<div class="audit-background auditDetails" ng-init ="getQuestionOfAudit()">

	<div class="col-sm-11">
		<div class="col-sm-12 questionAnsList">
		<div class="manage-subheared sub-manage audits-data" ><!-- ng-class ="questStatus ? 'noClass':'pr'"  -->
			<h4 class="manageheaders">AUDIT'S DATA</h4>
			<div class="listed">
				<div class="tile-header" ng-repeat ="headers in groupedQuestionsArrayofAudit " ng-init="headerIndex = $index">
					<div>
						<div class="holder-hide">
						
							{{headersOfQuestionsInAudit[headerIndex]}}
						
							<span class="plus" ng-show="!hiddens" ng-click="hiddens=!hiddens">+</span> 
							<span class="minus" ng-show="hiddens" ng-click="hiddens=!hiddens">-</span> 
							<i class="fa fa-caret-up font-cartup" aria-hidden="true"></i>
						</div>
					<div ng-hide="!hiddens">
						<div >
						  <div class="tites">
							 <div ng-repeat = "subheader in headers "><h4>{{subheader[0].sub_header_text}}</h4>
								 <table class="table table-inverse table-list">
									 <tbody>
										<tr  ng-repeat ="quest in subheader "   >									
										 <td >{{quest.question_text}}<span ng-if="quest.mandatory_field" style="color:red;margin-left: 0px;">*</span>
										    <div class="col-sm-12">
	                                             <div class="" ng-if="'Text'== quest.question_type"> 
	                                                 <div class="col-sm-12">
	                                                     <input ng-model="quest.answer" type="text" class="form-control numeric numbers-top" ng-disabled="true" placeholder="Text">
	                                                 </div>                                              
	                                             </div>
	                                             <div class="group group" ng-if="'Numeric'== quest.question_type">
	                                                 <div class="col-sm-12">
	                                                     <input ng-model="quest.answer" type="text" class="form-control numeric numer-top" ng-disabled="true" placeholder="Text">
	                                                 </div>
	                                                 
	                                             </div>                                                 
                                             
	                                             <div class="group group" ng-if="'Y/N'==quest.question_type">
		                                             <div class="col-sm-6 numerics">
		                                                 <input type="radio" ng-model="quest.answer" value="true" ng-disabled="true">Yes
		                                             </div>
		                                            <!--  data-ng-model="quest.answer" data-ng-value="true" -->
		                                             <div class="col-sm-6 numerics">		                                                 
		                                                  <input type="radio" ng-model="quest.answer" value="false" ng-disabled="true">No
		                                             </div>                                            
	                                             </div>
                               				 </div>										 
										 </td>	
										</tr>
									  </tbody>
								  </table>
							  </div>
						   </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ></div> <!-- ng-class ="questStatus ? 'noClass':'overlay'"  -->
		</div>
	</div>
	</div>

</div>