<div >       
	<div class="modelstitle">
		<div class="modal-header mdlheader">
			<h3 class="modal-title mdltitle" ng-model="modalTitle">{{modalTitle}}</h3>
		</div>
		<div class="modal-body mdlbody">
			<p ng-model="modalContent">{{modalContent}}</p><br/>
		</div>
		<div class="modal-footer footerbtn">
			<button class="btn btn-primary btnwarning"  type="button" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary btnwarning"  type="button" ng-click="ok()">OK</button>
		</div>
	</div>
</div>



