<div class="container-fluid bg-3" ng-init ="initializeDealer();getTtsAndNetworkListFromDb();">
<div class="row">

	<div class="col-sm-1">
		<div class="left-nav dealers"  ng-controller="homeController">
			<ul ng-init="selectedTab = 'truckforcedealers'">
 			<li ng-class="{'active':selectedTab === 'home'}"  class="dashboard"><a ng-click="navigateToDifferentTab('home')"><span>Dashboard</span></a></li>

		   	<li ng-class="{'active':selectedTab === 'audits.currentyearaudits'}"  class="audits"><a ng-click="navigateToDifferentTab('audits.currentyearaudits')"><span>Audits</span></a ></li>

		   	<li ng-class="{'active':selectedTab === 'truckforcedealers'}"  class="truckforcedealers"><a><span>TruckForce Dealers</span></a></li>

		  	<li ng-class="{'active':selectedTab === 'manageTeams'}" class="manageteams"><a ng-click="navigateToDifferentTab('manageTeams');"><span>Manage Teams</span></a></li>

		   	<li ng-class="{'active':selectedTab === 'location'}" class="managelocations"><a ng-click="navigateToDifferentTab('location')" ><span>Manage Locations</span></a></li>

		  	<li ng-class="{'active':selectedTab === 'templateList'}"  class="managetemplate"><a ng-click="navigateToDifferentTab('templateList')"><span>Manage Audit Templates</span></a></li>

			 
			</ul>
		</div>
	</div>
	<div ng-if="shouldShowTyreImg" class="col-sm-12" id="loading">
      <img class="img-responsive" id="loading-image" src="/images/splashtirerotation.gif" alt="Loading..."/>
   </div>
	<div class="col-sm-11 auditpage">
		<div class="overline">
			<div class="truck">
			   <h3>TruckForce Dealers</h3>
			</div>
			<div class="center">
				<div class="btnstyles">				 
				  <button type="button" id="listDealer" class="btn btn-default" ng-class="{'active': active === true}" ng-click="listDealerClicked();">Dealer list</button>
				   <button type="button" id="addDealer" class="btn btn-default" ng-class="{'active': active === false}" ng-click="createdealer();">Create New Dealer</button>
				</div>
			</div>
				<div ui-view></div>
		</div>
	</div>
  </div> 
</div>
