<div ng-model="questStatus" > <!-- ng-class ="questStatus ? 'noClass':'pr'" -->
	<div class="row manage mar-manage manage-button" ng-init="init()">
		<div class="col-sm-12">
			<div class="colors" ng-class ="questStatus ? 'noClass':'pr'">
				<div class="col-sm-6">
				  <h4 class="manageheaders">Questions</h4>
				</div>
				<div class="col-sm-2 centers">
						<div class="dropdown">
							<button class="defaults"  type="button" data-toggle="dropdown" 
							 ng-class="{active:isSet(1)}" ng-click="setTab(1)">Add Header</button>
					</div>
				</div>
				<div class="col-sm-2 centers">
						<div class="dropdown">
							<button class="header" type="button" data-toggle="dropdown"
							ng-class="{active:isSet(2)}" ng-disabled="noHeadersAvailable" ng-click="setTab(2)">Add Sub-Header</button>
					</div>
				</div>
				<div class="col-sm-2 centers">
						<div class="dropdown">
							<button class="question" type="button" data-toggle="dropdown"
							ng-class="{active:isSet(3)}" ng-disabled="noSubHeadersAvailable || noHeadersAvailable" ng-click="setTab(3)">Add Question</button>
					</div>
				</div>
				<div ng-model="questStatus" ng-class ="questStatus ? 'noClass':'overlay'" ></div><!-- ng-class ="questStatus ? 'noClass':'overlay'" -->
			</div>
		</div>
		<div class="col-sm-12">
		<form name="form" novalidate>
		<div class="actionbacks" ng-class ="questStatus ? 'noClass':'pr'">
			<div class="row" ng-show="isSet(1)">
				<div class="col-sm-8">
					<div class="form-group">
					  <label>Header Title</label>
					 <input type="text" class="form-control" ng-model="questionInformation.newHeader" id="usr" ng-change="questionsFieldValuesChanged()" placeholder="Text">
					</div>
				</div>
				<div class="col-sm-2">
				   <button type="button" class="btn btn-primary buttonprm" ng-click="saveHeader()">Save</button>
				</div>
			</div>
			<div class="row" ng-show="isSet(2)">
				<div class="col-sm-3">
					<div class="form-group">
							<label for="usr">Select Header</label>						
							<select id="usr" class="form-control" name="header" ng-model="questionInformation.selectedHeader"  ng-options="obj.header_name for obj in headerList" placeholder="Select Header" ng-change="questionsFieldValuesChanged();actionOnOptionSelected();"><option value="">-Select Header-</option>
							</select>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="form-group">
					  <label>Sub-header Title</label>
					  <input type="text" class="form-control" id="usr" ng-change="questionsFieldValuesChanged()" ng-model="questionInformation.newSubHeader" placeholder="Text">
					</div>
				</div>
				<div class="col-sm-2">
				   <button type="button" class="btn btn-primary buttonprm" ng-click="saveSubHeader()">Save</button>
				</div>
			</div>
			<div class="row"  ng-show="isSet(3)">
				<div class="col-sm-3">
					<div class="form-group">
							<label for="usr">Select Header</label>						
							<select id="usr" class="form-control" name="header" ng-model="questionInformation.selectedHeader"  ng-options="obj.header_name for obj in headerList" ng-change="questionsFieldValuesChanged();headerSelected='true'" placeholder="Select Header"><option value="">-Select Header-</option>
							</select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
					<label for="usr">Select Sub-Header</label>
					<select id="usr" class="form-control" name="subheader" ng-model="questionInformation.selectedSubHeader"  ng-options="obj.sub_header_name for obj in subHeaderList| filter: questionInformation.selectedHeader.header_id" ng-change="questionsFieldValuesChanged()" ng-disabled='!headerSelected' placeholder="Select Sub-Header"><option value="">-Select Sub-Header-</option></select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
					<label for="usr">Question Type</label>
					<select id="usr" class="form-control" ng-model="questionInformation.seletedQestTyp"  ng-options="obj for obj in questionTypesList" ng-change="questionType(obj); " ><option value="">-Select Question Type-</option></select>
					</div>				
				</div>
				<div class="col-sm-3 checked">
					 <input type="checkbox" name="vehicle" value="Bike" ng-model="questionInformation.mandatoryField">Mandatory<br>
				</div>
			</div>
			<div class="row" ng-show="isSet(3)">
				<div class="col-sm-12">
					<div class="form-group">
					  <label>Question</label>
					  <input type="text" class="form-control" id="usr" ng-change="questionsFieldValuesChanged()" ng-model="questionInformation.questionEntered" placeholder="Text">
					</div>
				</div>
				<div class="col-sm-12">
				<div class="" ng-if="setId == 'Text'">				
						
					<div class="col-sm-6">
						<input type="text" class="form-control numerics" ng-disabled="true" placeholder="Text">
					</div>
					<div class="col-sm-6">
						<div class="right">
							<button type="button" class="btn btn-primary buttonprm" ng-click="saveQuestion()">SAVE</button>
							<button type="button" class="btn btn-primary buttonprm" ng-click="resetFields()">RESET</button>
						</div>
					</div>
				</div>
				<div class="group group" ng-if="setId == 'Multiple Choice'">
					<div class="col-sm-2" ng-repeat="options in optionList">
						<label class="checkbox chkbox">
							<input type="checkbox" class="boxinput" ng-disabled="true">
							<input type="text" class="form-control" ng-model="optionsArray[options]" placeholder="Text">
							<i class="fa fa-times time" aria-hidden="true" ng-click="removeOption(options)"></i>
						</label>
					</div><i ng-click="addOption()" class="fa fa-plus-circle add-options" aria-hidden="true"></i><br/>
					<div class="col-sm-12">
						<div class="right">
							<button type="button" class="btn btn-primary buttonprm" ng-click="saveQuestion()">SAVE</button>
							<button type="button" class="btn btn-primary buttonprm" ng-click="resetFields()">RESET</button>
						</div>
					</div>
				</div>
				<div class="group group" ng-if="setId == 'CheckBox'">
					<div class="col-sm-2" ng-repeat="options in radioOptionList">
						<label class="checkbox radio">
							<input type="radio" class="left" ng-disabled="true">
							<input type="text" class="form-control" ng-model="radioOptionsArray[options]" placeholder="Text">
							<i class="fa fa-times time" aria-hidden="true" ng-click="removeRadioOption(options)"></i>
						</label>
					</div><i ng-click="addRadioOption()" class="fa fa-plus-circle addoption" aria-hidden="true"></i><br/>
					<div class="col-sm-12">
						<div class="right">
							<button type="button" class="btn btn-primary buttonprm" ng-click="saveQuestion()">SAVE</button>
							<button type="button" class="btn btn-primary buttonprm" ng-click="resetFields()">RESET</button>
						</div>
					</div>
				</div>
				<div class="" ng-if="setId == 'Numeric'">
					
					<div class="col-sm-1 top">
							<input type="number" name="min" class="form-control text-inputs" ng-model="minMaxValues.min" lower-than="{{minMaxValues.max}}" placeholder="Min" >
					</div>
					<div class="col-sm-1 top">
							<label class="min-label" > Min </label>
					</div>
					<div class="col-sm-1 top">
							<input type="number" name="max" class="form-control text-input" ng-model="minMaxValues.max" placeholder="Max">
					</div>
					<div class="col-sm-1 top">
							<label class="Max-label"> Max </label>
					</div>
					<div class="col-sm-1 top">
							<span class="error" ng-show="form.min.$error.lowerThan && form.min.$touched && form.max.$touched && !saveNoClicked">
							  Max value should be more than Min value.
							</span>
					 </div>
					<div class="col-sm-8">
						<div class="right">
							<button type="button" class="btn btn-primary buttonprm" ng-click="saveQuestion();saveNoClicked=true" ng-disabled="form.min.$error.lowerThan">SAVE</button>
							<button type="button" class="btn btn-primary buttonprm" ng-click="resetFields()">RESET</button>
						</div>
					</div>
				</div>
				<div class="group group" ng-if="setId == 'Y/N'">
				<div class="col-sm-1 numerics">
					<input type="radio" name="yesno" value="yes" ng-disabled="true">Yes
				</div>
				<div class="col-sm-1">
					<input type="radio" name="yesno" value="no" ng-disabled="true">No
				</div>
				<div class="col-sm-10">
					<div class="right">
						<button type="button" class="btn btn-primary buttonprm" ng-click="saveQuestion()">SAVE</button>
						<button type="button" class="btn btn-primary buttonprm" ng-click="resetFields()">RESET</button>
					</div>
				</div>
				</div>
				<div class="group group" id='datetimepicker1' ng-if="setId == 'Date'">
					<div class="col-sm-6">
						<input type="date" class="form-control datetime" ng-disabled="true">
					</div>
					<div class="col-sm-6">
						<div class="right">
							<button type="button" class="btn btn-primary buttonprm" ng-click="saveQuestion()">SAVE</button>
							<button type="button" class="btn btn-primary buttonprm" ng-click="resetFields()">RESET</button>
						</div>
					</div>				
				</div>
			</div>

			</div>
			<div ng-model="questStatus" ng-class ="questStatus ? 'noClass':'overlay'" ></div><!-- ng-class ="questStatus ? 'noClass':'overlay'" -->
		</div>
		</form>
		</div>
	</div>
</div>