<div class="row manage manage-button">
  	<div ng-if="shouldShowTyreImg" class="col-sm-12" id="loading">
      <img class="img-responsive" id="loading-image" src="/images/splashtirerotation.gif" alt="Loading..."/>
    </div>
    <div class="col-sm-12" >
        <div class="editing">		
			<div class="col-sm-12">
			  <h4 class="manageheaders">Mid Year Audits</h4>
			</div>		
		</div> 
		<div class="editing-view">
		    <p class="pull-right created">Last Created/Modified: {{templateToUpdate.creation_date}}</p>
		</div>
    </div>
    <div class="col-sm-12">
	    <div class="border">
			<div class="col-sm-6">
			  <h4 class="manageheaders">Create New Questionnaire Template</h4>
			</div>
			<div class="col-sm-6 images quotionare-buttons">
				<div class="pull-right">
					<button class="nb"  ng-hide="!disablePublishBtn" ng-click="saveCompleteTemplate('Unpublish')"><img src="/images/unpublish.png" > UnPublish</button>
					<button class="nb"  ng-hide="disablePublishBtn" ng-click="saveCompleteTemplate('Publish')"><img src="/images/publish.png" > Publish</button>
					<img ng-hide="disableSaveBtn" src="/images/save.png" ng-click="saveCompleteTemplate('Save')" class="bn">
				</div>
			</div>
		</div>
	</div>
	<div class="" ng-init="getCountryLanguage(true)"> <!-- ng-init="getCountryLanguage(true)" -->
	    <div class="col-sm-12">
		    <div class="actionback" ng-class ="questStatus ? 'pr':'noClass'">
				<div class="col-sm-3">
					<div class="form-group">
					<label class="input-titles" for="usr">Select Country</label>								
						<select class="form-control" ng-model="templateInfo.selectedCountry" ng-change="templateFieldValuesChanged();countrySelected();" ng-options="obj.country_name as obj.country_name for obj in countryLangForTam| unique:'country_name'|orderBy:'country_name'" >
							<option value="">-Select Country-</option>
						</select>
					</div>				
				</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label class="input-titles" for="usr">Select Language</label>			
					<select class="form-control" ng-model="templateInfo.selectedLanguage" ng-disabled="!countrySelected.selected" ng-change="templateFieldValuesChanged()" ng-options="obj.language_name as obj.language_name for obj in slectedCountry| filter: templateInfo.selectedCountry | unique:'language_name'|orderBy:'language_name'">
						<option value="">-Select Languages-</option>
					</select>
				</div>				
			</div>
			<div class="col-sm-12" >
				<div class="form-group">
					<label class="inputtitle">Title of Template</label>
					<input type="text" class="form-control" id="usr" ng-change="templateFieldValuesChanged()" ng-model="templateInfo.titelTemplate">
					<button  type="button" class="btn btn-primary buttonprm" ng-click="saveTemplate();">Save</button>
				</div>
			</div>
				<div ng-model="questStatus" ng-class ="questStatus ? 'overlay':'noClass'"></div>
		    </div>
		</div>
	</div>
</div>