<div class="form createdealerform" >
	<form name="dealerInfo" novalidate>
		<div class="form-top">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="usr">Dealer Name<span style="color:red;">*</span></label>
						<input type="text" class="form-control" name="companyname" ng-change="inputFormChanged();"  ng-model="dealerListElements.dealer_name" id="usr" required="required" style="text-transform: uppercase" maxlength="60" />
						<div ng-messages="dealerInfo.companyname.$error" ng-show="saveClicked && dealerInfo.companyname.$invalid">
						<div ng-message="required" style="color:red;">Dealer Name is required.</div>
						</div> 
					</div>
					<div class="form-group">
						<label for="usr">Address<span style="color:red;">*</span></label>
						<textarea class="form-control noresize" rows="5"  name="address" ng-change="inputFormChanged();" ng-model="dealerListElements.address" maxlength="250" required="required"/></textarea>     
						<div ng-messages="dealerInfo.address.$error" ng-show="saveClicked && dealerInfo.address.$invalid">
						<div ng-message="required" style="color:red;">Address is required.</div>
						</div>
					</div> 
					<div class="form-group">
						<label for="usr">Post Code<span style="color:red;">*</span></label>
						<input type="text" class="form-control" id="usr" name="postCode" ng-change="inputFormChanged();" ng-model="dealerListElements.post_code" maxlength="30" required="required" >
						<div ng-messages="dealerInfo.postCode.$error" ng-show="saveClicked && dealerInfo.postCode.$invalid">
						<div ng-message="required" style="color:red;">Post Code is required.</div>
						</div> 
					</div>
					<div class="form-group">
					    <label for="usr">Country<span style="color:red;">*</span></label>
					    <input type="text" class="form-control" id="usr" name="country" ng-change="inputFormChanged();" ng-model="dealerListElements.country_name" placeholder="" googleregion required="required"  />
					    <div ng-messages="dealerInfo.country.$error" ng-show="saveClicked && dealerInfo.country.$invalid">
						<div ng-message="required" style="color:red;">Country is required.</div>
						</div>
					</div>
					<div class="form-group">
						<label for="usr">City<span style="color:red;">*</span></label>
						<input type="text" class="form-control" id="usr" name="city" ng-change="inputFormChanged();" ng-model="dealerListElements.city_name" placeholder="" googleplace required="required"/>
						<div ng-messages="dealerInfo.city.$error" ng-show="saveClicked && dealerInfo.city.$invalid">
						<div ng-message="required" style="color:red;">City is required.</div>
						</div> 
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="usr">Email</label>
						<input type="text" class="form-control" id="usr" name="email" ng-change="inputFormChanged();" ng-model="dealerListElements.email" maxlength="60" ng-pattern="emailFormat">
						<div class="errorMsg"  ng-show="dealerInfo.email.$invalid && dealerInfo.email.$touched" >         
						<span ng-show="(dealerInfo.email.$error.email||dealerInfo.email.$error.pattern)" style="color:red;">This is not a valid email.</span>
						</div>
					</div>
					<div class="form-group">
						<label for="usr">Phone</label>
						<input type="text" class="form-control" id="usr" name="phone" ng-change="inputFormChanged();" ng-pattern ="phoneFormat" class="firsttextstyle" ng-model="dealerListElements.phone" validate-alpha-numeric-spaces>
						<div class="errorMsg" ng-show="dealerInfo.phone.$invalid && dealerInfo.phone.$touched" >         
						<span ng-show="(dealerInfo.phone.$error.tel||dealerInfo.phone.$error.pattern)" style="color:red;">This is not a valid Phone No.</span>
						</div>
					</div>
					<div class="form-group">
						<label for="usr">Network</label>						
						<!-- <select id="usr" class="form-control" name="network" ng-model="network.value"  ng-options="obj for obj in network.values" >
						</select> -->

						<select id="usr" class="form-control" name="network" ng-change="inputFormChanged();" ng-model="dealerListElements.network" ng-options=" obj for obj in networkValues">
						  <option value="">-Select Network-</option>
					    </select>
					</div>
					<div class="form-group">
						<label for="usr"><input type="checkbox" ng-change="fosVendorCodeClicked()" ng-model="fosChecked" >FOS Vendor Code Unknown<span style="color:red;">*</span></label>
						<input type="text" class="form-control" id="usr" name="posCode" ng-model="dealerListElements.pos_code" maxlength="30" ng-required="!fosChecked"  ng-change="fosVendorCode();inputFormChanged();">    
						<div ng-messages="dealerInfo.posCode.$error" ng-show="saveClicked && dealerInfo.posCode.$invalid && !fosChecked">
						<div ng-message="required" style="color:red;">FOS Vendor Code is required.</div>
						</div> 
					</div>
					<div class="form-group">
						<label for="usr">Payer Code</label>
						<input type="text" class="form-control" id="usr" ng-change="inputFormChanged();" ng-model="dealerListElements.payer_code" maxlength="30"/>
					</div>
					<div class="form-group">
						<label for="usr">Holding</label>
						<input type="text" class="form-control" id="usr" ng-change="inputFormChanged();" ng-model="dealerListElements.holding_name" maxlength="30"/>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="usr">Truck Tire Sales person<span style="color:red;">*</span></label>
						<!-- <select id="usr" class="form-control" name="tts" ng-model="tts_name.value"  ng-options="obj for obj in tts_name.values" required="required">
						</select> -->

						<select id="usr" class="form-control" ng-change="inputFormChanged();" name="tts" ng-model="dealerListElements.tts_name" ng-options="obj as obj for obj in tts_nameValues" required="required">
						  <option value="">-Select TTS-</option>
					    </select>
						<div ng-messages="dealerInfo.tts.$error" ng-show="saveClicked && dealerInfo.tts.$invalid">
						<div ng-message="required" style="color:red;">Tire Truck Sales Person is required.</div>
						</div>
					</div>
				</div>
			</div>
		    <br>
		</div>
		<div class="col-sm-12">
		<button type="button" class="btn btn-primary savebutton" ng-disabled="dealerInfo.$invalid" ng-click="saveDealerInformation(dealerInfo);saveClicked='true';" >Save</button>
		</div>
	</form>
</div>