<div>
		
		<div class="audit-background">
		<div>
			<div class="manage-team-contianer container-fluid auditlist-container">
				
				<div class="tires-sale audit-sales" ng-init="initLoad()" ng-controller ="auditController">
					<div class="row">
						<div class="panel panel-default panel-table">
							<div class="panel-heading panel-headings">
								<div class="row">
									<div class="col col-xs-8"> 
										<h4>AUDITS</h4>             
									</div>
									<div class="col col-xs-3 input-searchs">
									   <input type="text" class="form-control" placeholder="Search by Dealer Name and Country" name="search" id="srch-term" ng-model="search.searchFilter">
									</div>
									<div class="col col-xs-1 text-right buttons">
										<div class="dropdown">
											<button class="btn btn-default" ng-click="showSearchs = !showSearchs ;" type="button"><i class="fa fa-download" aria-hidden="true"></i></button>
											<div class="assign-dropdown assigndropdown assign-audit" ng-show="showSearchs">  
												<div class="form-group audit-fromgrp">
													<label class="input-titles" for="usr">Select Country:</label>													
													<select class="form-control audit-ctry" ng-model="templateInfoForAudit.selectedCountry" ng-options="obj.country_name as obj.country_name for obj in countryLangForTam| unique:'country_name'"  >
														<option value="">-Select Country-</option>
													</select>
												</div>	
												<div class="form-group audit-fromgrp">
													<label class="input-titles" for="usr">Select Language:</label>													
													<select class="form-control audit-ctry"  ng-model="templateInfoForAudit.selectedLanguage" ng-change="countryLanguageSelected();countryLangSelected.enableFlag='true'" ng-options="obj.language_name as obj.language_name for obj in countryLangForTam| filter: templateInfoForAudit.selectedCountry | unique:'language_name'">
														<option value="">-Select Language-</option>
													</select>
												</div>	
												<div class="form-group audit-fromgrp">
													<label class="input-titles" for="usr">Select Template:</label>													
													<select class="form-control audit-temp" ng-model="templateInfoForAudit.templateId" ng-options="obj.template_name for obj in templateListItems| unique:'template_name'" ng-change="templateSelectedFun();" ng-disabled='!countryLangSelected.enableFlag'>
														<option value="">-Select Template-</option>
													</select>
												</div>
												<!--<div class="col col-xs-12">
													<div class="form-group forminputs">
													    <h3>Audits submitted:</h3>
														<label class="audit-date">From:</label>
														<input type="text" class="form-control audit-input" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" required="required" close-text="Close" />
														<button type="button" class="btn btn-default audit-btn" ng-click="open1()"><i class="fa fa-calendar audit-icon"></i></button>
														<label class="audit-dates">To:</label>
														<input type="text" class="form-control audit-input" uib-datepicker-popup ng-model="df" is-open="popup2.opened" datepicker-options="dateOptions1" required="required" close-text="Close" />
														<button type="button" class="btn btn-default audit-btn" ng-click="open2()"><i class="fa fa-calendar audit-icon"></i></button>										
													</div>
												</div>-->
												<div class="audit-btngroup">
												<button class="btn btn-default" type="button" ng-click="getDataOfAllAuditsToCreateExcel(true);showSearchs = !showSearchs;" ng-disabled="!templateSelected">Download CSV</button>
												<button class="btn btn-default btn-alng" type="button" ng-click="showSearchs = !showSearchs;clearDownloadInfo();initLoad();" >Cancel</button>
												<button class="btn btn-default pull-right" type="button" ng-click="showSearchs = !showSearchs;initLoad()">Reset All</button>
												</div>
											</div> 
										</div>
									</div>
								</div>
							</div>
							<div class="panel-body auditTable" style=" overflow-x: scroll;">							
								<table class="table table-striped table-bordered table-list auditTableList">
										<thead>
											<tr>
											   <th>Template Name</th>																												  
											   <th  ng-click="orderByField='DelearName';reverseSort = !reverseSort ">Dealer Name &nbsp;&nbsp;<i ng-class="reverseSort ? 'fa fa-caret-down carts-down' :'fa fa-caret-up carts-up'"></i></th>

											   <th  ng-click="orderByField='Country';reverseSort = !reverseSort">Country  &nbsp;&nbsp;  <i ng-class="reverseSort ? 'fa fa-caret-down carts-down' :'fa fa-caret-up carts-up'"></i></th>
																			  
											  <th  ng-click="orderByField='AuditDate';reverseSort = !reverseSort ">Audit Date &nbsp;&nbsp;  <i  ng-class="reverseSort ? 'fa fa-caret-down carts-down' :'fa fa-caret-up carts-up'"></i></th>

												<th style="width: 286px;">TTS Name</th>
												<th>Details </th>
											</tr>
										</thead>
										  <tbody>
											<tr dir-paginate="auditList in filteredList =(currentYearAudits|filter:search.searchFilter |orderBy:orderByField:reverseSort|itemsPerPage:numberOfrows) track by $index " current-page="paginationCurrYr.current">												
												 <td><div ng-bind-html="auditList.TempName| uppercase |highlight:search.searchFilter"></div></td>
												 <td> <div ng-bind-html="auditList.DelearName| uppercase |highlight:search.searchFilter"></div></td>
												 <td><div ng-bind-html="auditList.Country| uppercase |highlight:search.searchFilter"></div></td>
																	  
												 <td><div ng-bind-html="auditList.AuditDate| date:'dd-MM-yyyy'| uppercase |highlight:search.searchFilter"></div></td>
												 <td> <div ng-bind-html="auditList.AuditDoneBy| uppercase |highlight:search.searchFilter"></div></td>
																					   
												 <td><i class="fa fa-file-text-o text-field" aria-hidden="true" name ="auditList.tempID" ng-model="auditList.tempID" ng-click ="truckDetail(auditList,'currentYear');"></i></td>
											  </tr>


											  <tr ng-show="!filteredList.length && noDetails">
												  <td colspan="8"><div class="nodealer"><h1>Hi There!</h1><p>There are no Audit list of Current year.</p>></div></td>
											  </tr>
										  </tbody>
								</table>


							</div>
							<div class="panel-footer">
								<div class="row">
									<div class="col col-xs-12 text-center  marg-top">
									  <dir-pagination-controls
										  max-size="5"
										  direction-links="true"
										  boundary-links="true"
										  style="z-index:0!important" on-page-change="paginationChangedinCurrentYeartab(newPageNumber)">
									  </dir-pagination-controls>

									</div>
								</div>
							</div>
						</div>        
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
