<!-- define angular app -->
<div class="loading" ng-init="popup = true;" >   
 
  <div class="row rows auditlistclass">
   
    <div class="col-sm-12 col-xs-12">
     <div class="search-icon searchBar">
      <form>
        <input type="text" name="search" placeholder="Search dealer" ng-model="search.searchFilter">
      </form>
    </div>
    </div>
  </div>

<div class=""> 
  <div class="table-responsive res-table auditlistdiv">
  <table class="table table-bordered dealerTable" style=" overflow-x: scroll;">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Country</th>
          <th>Edit</th>
		  <th>Delete</th>
        </tr>
      </thead>
      <tbody>
       <tr dir-paginate="dlrList in filteredList =(dealerList| filter:applyFilter|orderBy :'dealer_name'|itemsPerPage:numberOfrows) track by $index" current-page="dealerlistpagination.current">        
          <td><div ng-bind-html="dlrList.dealer_name| uppercase |highlight:search.searchFilter"></div></td>
          <td><div ng-bind-html="dlrList.city_name | uppercase|highlight:search.searchFilter"></div></td>        
          <td><div ng-bind-html="dlrList.country_name |uppercase| highlight:search.searchFilter"></div></td>                 
          <th scope="row"><img src="/images/edit.png" ng-click="updateDealer(dlrList)"></th>
          <th scope="row"><img src="/images/delete.png" ng-click="deleteDealerConfirmation(dlrList.dealer_id)"></th>
        </tr>
        
        <tr ng-show="!filteredList.length && noDealerAddedForManager">
          <td colspan="8"><div class="nodealer"><img src="/images/nodealer.png"><h1>Hi There!</h1><p>There are no Dealers currently added in the Audit Portal.Please add the Dealers and the Dealers will be available to view in Dealers list.</p></div></td>
        </tr>
        <tr ng-show="!filteredList.length && noDetails">
          <td colspan="8"><div class="nodealer"><img src="/images/nodealer.png"><p>Dealer you are trying to search is currently not available.Please add the Dealer and the Dealer will be available to view in Dealers list</p></div></td>
        </tr>
      </tbody>
    </table>
    
  </div>
  <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true"
        style="margin-left : 45%;z-index:0!important" on-page-change="paginationChangedinDealerlist(newPageNumber)">
    </dir-pagination-controls>
</div>
</div>
