 <footer class="footer conatiner-fluid">
	   <div class="row">
			<div class="col-sm-6 col-xs-12">
				<div class="good-year">
					<img src="/images/goodyearlogo.png">
					<img src="/images/dunloplogo.png">
				</div>
			</div>
			<div class="col-sm-6 col-xs-12">
				<div class="copy-right">
					<p>Goodyear Dunlop &copy2016 <span class="version">version 13.0</span></p>
				</div>
			</div>
		</div>
    </footer>