<div ng-controller="modelController">       
	<div class="modelstitle">
	   		<div class="get-started">
            <img src="/images/overlayright.png">
			<h1>Your Country(s) Selected are Saved in Locations</h1>
			<p>You may now proceed with your audits</p>
		</div>
		<div class="button-get">
		    <button type="button" class="btn btn-info saved">GET STARTED</button>
		</div>
	</div>
</div>