<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="navbar-header">
      <a class="navbar-brand" ng-click="gotoHome()"><img alt="Brand"  src="/images/logo.png"></a>
    <span>TruckForce Dealer Audit Dashboard</span>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome      {{UserName}} <span class="fa fa-angle-down" aria-hidden="true"></span></a>
          <ul class="dropdown-menu menu">          
            <li><a ng-click="signOut()">
              <div class="logoutClass" style='width:90%;'>Logout </div>
              <div><img class="pull-right" src="/images/logout.png"></div>
            </a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="left-nav" >
  <ul ng-init="selectedTab = 'dashboard'">
   <li ng-class="{'active':selectedTab === 'dashboard'}" ng-click="selectedTab = 'dashboard';gotoHome()" class="dashboard"><a ng-click="gotoHome()"><span>Dashboard</span></a></li>

   <li ng-class="{'active':selectedTab === 'audits'}" ng-click="selectedTab = 'audits';audit()" class="audits"><a ng-click="audit()"><span>Audits</span></a ></li>

   <li ng-class="{'active':selectedTab === 'truckforcedealers'}" ng-click="selectedTab = 'truckforcedealers' ;dealer()" class="truckforcedealers"><a ng-click="dealer()"><span>TruckForce Dealers</span></a></li>

   <li ng-class="{'active':selectedTab === 'manageteams'}" ng-click="selectedTab = 'manageteams'" class="manageteams"><a ng-click="manageTeams();"><span>Manage Teams</span></a></li>

   <li ng-class="{'active':selectedTab === 'managelocations'}" ng-click="selectedTab = 'managelocations';goTolocation()" class="managelocations"><a ng-click="goTolocation()" ><span>Manage Locations</span></a></li>

   <li ng-class="{'active':selectedTab === 'managetemplate'}" ng-click="selectedTab = 'managetemplate';template()" class="managetemplate"><a ng-click="template()"><span>Manage Audit Templates</span></a></li>

</ul>
</div>
