<div ng-controller="modelController" ng-init="getLocations()"> 
    <div class="modelstitle">
		   <div class="country-select model-popupselected" style="width: 50%!important;">
			<div class="user-details">
					<div class="welcomeUser">
						<span class="firstLine">Hi <span class="highlightText">{{UserName}}</span>
						<br />Welcome to <span class="highlightText">Goodyear</span> Audit Portal!</span>
						<span class="secondLine">Please proceed by selecting a country in the list so that you can start creating Audit templates</span>
					</div>
					<form name="myForm">
					<div class="selectCountry select-ctry">
						<div class="form-group">
							<label for="usr">Select Country</label>
							<select id="usr" class="form-control" name="countries" ng-model="selectedCountry"  ng-options="obj.country_name for obj in countryList" placeholder="Select Country"><option value="">-Select Country-</option>
						</select>
					    </div>
					    <div ng-show="erroFlag" style="color:red;">Please Select a country</div>
				      <div class="additionalHelp">
						<button type="button" class="btn btn-info save" ng-click="addLocationForManager()">Save</button>
					  </div>					  
					</div>	
					</form>
					<!-- <div class="backgroundwhiet">
					    <a>For Any Additional Help <span class="greter">></span></a>
					</div> -->
			</div>
		</div>
	</div>
</div>