<div class="row" ng-init="initLoad();" > <!--ng-init="getDistinctAudits();" -->
	<div class="col-sm-1">
		<div class="left-nav" >
		  <ul ng-init="selectedTab = 'dashboard'">
		   <li ng-class="{'active':selectedTab === 'dashboard'}" ng-click="selectedTab = 'dashboard'" class="dashboard"><a ng-click="gotoHome()"><span>Dashboard</span></a></li>

		   <li ng-class="{'active':selectedTab === 'audits'}" ng-click="selectedTab = 'audits';audit()" class="audits"><a ng-click="audit()"><span>Audits</span></a ></li>

		   <li ng-class="{'active':selectedTab === 'truckforcedealers'}" ng-click="selectedTab = 'truckforcedealers'" class="truckforcedealers"><a ng-click="dealer()"><span>TruckForce Dealers</span></a></li>

		   <li ng-class="{'active':selectedTab === 'manageteams'}" ng-click="selectedTab = 'manageteams'" class="manageteams"><a ng-click="manageTeams();"><span>Manage Teams</span></a></li>

		   <li ng-class="{'active':selectedTab === 'managelocations'}" ng-click="selectedTab = 'managelocations'" class="managelocations"><a ng-click="goTolocation()" ><span>Manage Locations</span></a></li>

		   <li ng-class="{'active':selectedTab === 'managetemplate'}" ng-click="selectedTab = 'managetemplate'" class="managetemplate"><a ng-click="template()"><span>Manage Audit Templates</span></a></li>

		</ul>
		</div>
	</div>
	<div ng-if="shouldShowTyreImg" class="col-sm-12" id="loading">
      <img class="img-responsive" id="loading-image" src="/images/splashtirerotation.gif" alt="Loading..."/>
   </div>

  
  
	<div class="col-sm-11 rightcontent">
		<div class="row" ng-show="noDetails">
			 <div class="col-sm-12 dashBoardNoContent">
		       <div class="nodealer" ><img src="/images/nodealer.png"><h1>Welcome!</h1><p>There are currently no audits submitted for the year {{auditRecordYear}}. Please submit completed audits to view your dashboard report.</p></div>
		   </div>
	    </div>
		<div class="row" ng-show="auditReportReady">
		    <div class="col-sm-7">
				<div class = "panel panel-default achiever">
					<div class = "panel-heading"><img src="/images/topauditachivers.png">Top Audit Process Achievers</div>
					<div class = "panel-body" >
					<div class="col-sm-6" ng-if="ttsAuditInformation[0].tts_name.length">
					    <div class="dashboard-org">
					    	
						        <div class="orange ">	
						            <marquee class="ttsName">{{ttsAuditInformation[0].tts_name}}</marquee>	
						            <!-- <span class="border-top"></span>							
									<h4>{{ttsAuditInformation[0].tts_name.length}}</h4> -->
								</div>
								<span class="border-left "></span>
							    <table class = "table dashboard-table ">
									<tr>
										<td>No Of Dealers<span class="pull-right">{{ttsAuditInformation[0].no_of_dealers}}</span></td>
									</tr>
									<tr>
										<td>Avg Audit Results<span class="pull-right">{{ttsAuditInformation[0].avg_audit_result}}%</span></td>
									</tr>
						        </table>
						</div>
					</div>

					<div class="col-sm-6" ng-if="ttsAuditInformation[1].tts_name.length"> <!-- ng-if="ttsAuditInformation[1].tts_name.length" -->
						<div class="dashboard-red">
						        <div class="red">
							         <marquee class="ttsName">{{ttsAuditInformation[1].tts_name}}</marquee>
									 <!-- <span class="border-top"></span>
									 <h4>Country</h4> -->
								</div>
								<span class="border-left"></span>
							    <table class = "table dashboard-table">
									<tr>
										<td>No Of Dealers<span class="pull-right">{{ttsAuditInformation[1].no_of_dealers}}</span></td>
									</tr>
									<tr>
										<td>Avg Audit Results<span class="pull-right">{{ttsAuditInformation[1].avg_audit_result}}%</span></td>
									</tr>
						        </table>
						</div>
					</div>
					<div class="col-sm-6" ng-if="ttsAuditInformation[2].tts_name.length"> <!-- ng-if="ttsAuditInformation[2].tts_name.length" -->
						<div class="dashboard-blu">
						        <div class="blue">
							         <marquee class="ttsName">{{ttsAuditInformation[2].tts_name}}</marquee>
									<!--  <span class="border-top"></span>
									 <h4>Country</h4> -->
								</div>
								<span class="border-left"></span>
							    <table class = "table dashboard-table">
									<tr>
										<td>No Of Dealers<span class="pull-right">{{ttsAuditInformation[2].no_of_dealers}}</span></td>
									</tr>
									<tr>
										<td>Avg Audit Results<span class="pull-right">{{ttsAuditInformation[2].avg_audit_result}}%</span></td>
									</tr>
						        </table>
						</div>				
					</div>
					<div class="col-sm-6" ng-if="ttsAuditInformation[3].tts_name.length"> <!-- ng-if="ttsAuditInformation[3].tts_name.length" -->
						<div class="dashboard-gre">
						        <div class="green">
							         <marquee class="ttsName">{{ttsAuditInformation[3].tts_name}}</marquee>
									 <!-- <span class="border-top"></span>
									 <h4>Country</h4> -->
								</div>
								<span class="border-left"></span>
							    <table class = "table dashboard-table">
									<tr>
										<td>No Of Dealers<span class="pull-right">{{ttsAuditInformation[3].no_of_dealers}}</span></td>
									</tr>
									<tr>
										<td>Avg Audit Results<span class="pull-right">{{ttsAuditInformation[3].avg_audit_result}}%</span></td>
									</tr>
						        </table>
						</div>						
					</div>
					</div>
				</div>
			</div>
			<div class="col-sm-5">
				<div class = "panel panel-default leading">
					<div class = "panel-heading"><img src="/images/leadingdealersofyear.png">Leading Dealers Of Year {{auditRecordYear}}</div>
						<table class = "table">
							<tr>
								<th>Dealer Name</th>
								<th>Country</th>
							</tr>
							<tr ng-repeat='deler in topDealersInfo'>
								<td>{{deler.dealer_name |uppercase}}<div>{{deler.dealer_score}}%</div></td>
								<td>{{deler.dealer_country |uppercase}}</td>
							</tr>							
						</table>
				</div>
			</div>
		</div>

		<div class="row" ng-show="auditReportReady">
		    <div class="col-sm-12">
			    <div class = "panel panel-default leading dashboard-chart">
					
			    	<div class = "panel-heading">Total No Of Audit Records For Year {{auditRecordYear}}</div>
						<div id="container" class="chart"></div>
				</div>
			</div>
		</div>

	</div>
</div>
   