
<div class="background" ng-init="sessionInitialize();">
<div class="">
	<div class="row">
		<div  class="col-sm-12" ng-if="shouldShowTyreImg"  id="loading">
		<img class="img-responsive" id="loading-image" src="/images/splashtirerotation.gif" alt="Loading..."/>
		</div>
	</div>
	<div class="row">
	   <div class="col-sm-12">
	        <img ng-src={{logo}} class="login-logo">
	   </div>
		<div class="col-sm-12">
			<div class="card card-container">
				<div class="col-sm-6 col-xs-6">
				   <div class="login-content">
						<p id="profile-name" class="profile-name-card">Login</p>
						<form class="form-signin">
							<span id="reauth-email" class="reauth-email"></span>
							<input type="text" id="inputEmail" class="form-control" ng-model="username" placeholder="Email address *" required="" autofocus="">
							<input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Password *" required>
							<div id="remember" class="checkbox">
								<label>									
									<input type="checkbox" ng-model="rememberCookie"> Remember me
								</label>
								<a href="https://myway.goodyear.com/login/pw/request" class="forgot-password">Forgot the password?</a>
							</div>
							<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="login(username,password)">LOG  IN</button>
						</form><!-- /form -->
					</div>
				</div>
				<div class="col-sm-6 col-xs-6" style="padding-right: 0px;">
				    <div class="audit-content">
				    <h1>About TruckForce Dealer Audit</h1>
					<p>This application enables the management and analysis of partner site audits for our TruckForce network audit programme. Within this tool you will be able to manage audit content, allocate sites and review results to help to assure our FleetFirst customers of the high standard of service that our TruckForce partners deliver.</p>				    
					</div>
				</div>
			</div><!-- /card-container -->
		</div><!--col-->
	</div><!--row-->
</div>
</div>
