<div class="container-fluid bg-3" >
<div class="row">

	<div class="col-sm-1">
		<div class="left-nav dealers"  >
			<ul ng-init="selectedTab = 'audits.currentyearaudits'">
 			<li ng-class="{'active':selectedTab === 'home'}" class="dashboard"><a ng-click="navigateToOtherTabs('home')"><span>Dashboard</span></a></li>

		   	<li ng-class="{'active':selectedTab === 'audits.currentyearaudits'}" class="audits"><a ng-click="navigateToOtherTabs('audits.currentyearaudits')"><span>Audits</span></a ></li>

		   	<li ng-class="{'active':selectedTab === 'dealer'}"  class="truckforcedealers"><a ng-click="navigateToOtherTabs('dealer');"><span>TruckForce Dealers</span></a></li>

		  	<li ng-class="{'active':selectedTab === 'manageTeams'}" class="manageteams"><a ng-click="navigateToOtherTabs('manageTeams');"><span>Manage Teams</span></a></li>

		   	<li ng-class="{'active':selectedTab === 'location'}" class="managelocations"><a ng-click="navigateToOtherTabs('location')" ><span>Manage Locations</span></a></li>

		  	<li ng-class="{'active':selectedTab === 'templateList'}" class="managetemplate"><a ng-click="navigateToOtherTabs('templateList')"><span>Manage Audit Templates</span></a></li>

			 
			</ul>
		</div>
	</div>
	<div ng-if="shouldShowTyreImg" class="col-sm-12" id="loading">
      <img class="img-responsive" id="loading-image" src="/images/splashtirerotation.gif" alt="Loading..."/>
   </div>
	<div class="col-sm-11 auditpage">
		<div class="overline">
			<div class="truck managerauditContent">
			   <h3>Manage Audits</h3>
			</div>
			<div class="center">
				<div class="btnstyles" >
				  <button type="button" id="currentYrTab" class="btn btn-default auditsTab" ng-class=" tabOne ? 'btn  active' : 'btn notactive'" id="previousYrTab" ng-click ="navigateToOtherTabs('audits.currentyearaudits')">Current Year Audits</button>
				  <button type="button" class="btn btn-default auditsTab" ng-class=" tabTwo ? 'btn  active' : 'btn notactive'" ng-click ="navigateToOtherTabs('audits.previousaudits')">Previous Year's Audits</button>
				   
				  <button type="button" class="btn btn-default auditsTab" ng-class=" tabThree ? 'btn  active' : 'btn notactive'" ng-click ="uploadAudits();">Upload Old Audits</button>
				  <!-- <span href="" ng-click ="uploadAudits();" ng-class=" tabThree ? 'btn  activecolor' : 'btn notactive'"  ng-controller="questionController" >Upload Old Audits</span> -->
				</div>
			</div>
				<div ui-view></div>
		</div>
	</div>
  </div> 
</div>