<div class="row manage">
<div class="col-xs-1">
<div class="left-nav manage-navlefts"  ng-controller="homeController">
  <ul ng-init="selectedTab = 'manageteams'">
   <li ng-class="{'active':selectedTab === 'dashboard'}" ng-click="selectedTab = 'dashboard'" class="dashboard"><a ng-click="gotoHome()"><span>Dashboard</span></a></li>
   <li ng-class="{'active':selectedTab === 'audits'}" ng-click="selectedTab = 'audits'" class="audits"><a ng-click="audit()"><span>Audits</span></a></li>
   <li ng-class="{'active':selectedTab === 'truckforcedealers'}" ng-click="selectedTab = 'truckforcedealers'" class="truckforcedealers"><a ng-click="dealer()"><span>TruckForce Dealers</span></a></li>
   <li ng-class="{'active':selectedTab === 'manageteams'}" ng-click="selectedTab = 'manageteams'" class="manageteams"><a ng-click="manageTeams();"><span>Manage Teams</span></a></li>
   <li ng-class="{'active':selectedTab === 'managelocations'}" ng-click="selectedTab = 'managelocations'" class="managelocations"><a ng-click="goTolocation()" ><span>Manage Locations</span></a></li>
   <li ng-class="{'active':selectedTab === 'managetemplate'}" ng-click="selectedTab = 'managetemplate'" class="managetemplate"><a ng-click="template()"><span>Manage Audit Templates</span></a></li>
 
</ul>
</div>
</div>
<div ng-if="shouldShowTyreImg" class="col-sm-12" id="loading">
      <img class="img-responsive" id="loading-image" src="/images/splashtirerotation.gif" alt="Loading..."/>
   </div>
<div class="manage-teams">
    <div class="col-xs-11" ng-init="initLoad();">
        <div class="tires-sales">
            <div class="row manageteamscontent" >
                <div class="panel panel-default panel-table border">
                    <div class="panel-heading">
                        <div class="row">
                            <h3 class="pageTitle">Truck Tire Sales Personnel</h3>
                            <div class="col col-xs-12 text-right buttons btn-texts">
                                <div class="dropdown">
                                    <button class="btn btn-default" ng-click="showTtsListDiv = !showTtsListDiv;showSearch=false" type="button"><img src="/images/assign.png" /> Assign <span class="fa fa-angle-down"></span></button>
                                    <div class="assign-dropdown" ng-show="showTtsListDiv">
                                        <h4>{{noOfTtsSelectedToAssign}} TTS Select</h4>
                                        <ul>
                                            <li>
                                                <input type="text" ng-model="search.searchForTTSToAssign" placeholder="Search TTS" />
                                            </li>
                                            <li>
                                                <div>
                                                    <ul>
                                                        <li ng-repeat="ttsToAssign in ttsListAvailableToAssign|orderBy:'full_name'|filter:applyFilterToTTSSearchToAssign">
                                                            <span class="custom-checkbox">
                                                                <input type="checkbox" checkboxgrouptoassign/><label>{{ttsToAssign.full_name}}</label>
                                                            </span>
                                                        </li>                                                        
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="pop-footer">
                                            <button class="btn btn-primary" ng-click="assignSelectedTTS();showTtsListDiv = !showTtsListDiv" ng-disabled="!ttsListSelectedToAssign.length>0">Assign</button>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-default disable" ng-click="revokeSelectedTTSClicked();" ng-disabled="!ttsListSelectedToRevoke.length>0" type="button"><img src="/images/revoke.png" />Revoke</button>
                                <div class="dropdown">
                                    <button class="btn btn-default" ng-click="showSearch = !showSearch;showTtsListDiv=false" type="button"><img src="/images/search.png" /></button>
                                    <div class="assign-dropdown" ng-show="showSearch">
                                        <h4>SEARCH</h4>
                                        <div class="input-group tts-search">
                                            <input type="text" class="form-control" ng-model="search.searchForTTSAssigned" placeholder="Enter TTS Name">
                                            <!-- <span class="input-group-btn">
                                                <button class="btn btn-primary" ng-click="showSearch = !showSearch;">Search</button>
                                           </span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style=" overflow-x: auto;">
                        <table class="table table-striped table-bordered table-team">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Full Name</th>
                                    <!-- <th>Last Name</th> -->
                                    <th>E-Mail</th>
                                    <!-- <th>Country</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="tts in filteredList =(ttsListFromTtsMaster |filter:applyFilterToTTSSearch|itemsPerPage:numberOfrows)">
                                    <td><span class="custom-checkbox"><input type="checkbox" ng-disabled="showTtsListDiv" ng-model="tts.checked" ng-change="ttsSelected(tts)"/></span></td>
                                    <td style="width:50%;"><div ng-bind-html="tts.full_name| uppercase |highlight:search.searchForTTSAssigned"></div></td>
                                    <!-- <td><div ng-bind-html="tts.last_name| uppercase |highlight:search.searchForTTSAssigned"></div></td> -->
                                    <td style="width:50%;"><div ng-bind-html="tts.tts_name|highlight:search.searchForTTSAssigned"></div></td>
                                    <!-- <td>country</td> -->
                                </tr> 

                                <tr ng-show="!filteredList.length && noTTSAddedForManager">
                                  <td colspan="8"><div class="nodealer"><img src="/images/nodealer.png"><h1>Hi There!</h1><p>There are no Tire Truck Sales Person's assigned yet.Please assign the TTS from the available list and proceed</p></div></td>
                                </tr>
                                <tr ng-show="!filteredList.length && noDetails">
                                  <td colspan="8"><div class="nodealer"><img src="/images/nodealer.png"><p>No matches found</p></div></td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                                <div class="row">
                                    <div class="col col-xs-12 text-center tts-pagination">
                                      <dir-pagination-controls
                                          max-size="5"
                                          direction-links="true"
                                          boundary-links="true"
                                          style="z-index:0!important" >
                                      </dir-pagination-controls>

                                    </div>
                                </div>
                    </div>
                    <!-- <div class="panel-footer panel-border">
                        <div class="row">
                            <div class="col col-xs-12 text-center">
                                <a href="javascript:void(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                <span>(<span>1-10</span> of <span>50</span>)</span>
                                <a href="javascript:void(0)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>

                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div> 
    </div>
</div>
</div>  