 <div class="container-fluid bg-3" >
  <div class="row" ng-init="initLoad()">
		<div class="col-sm-1">
			<div class="left-nav menubarlocations" ng-controller="homeController">
				<ul ng-init="selectedTab = 'managelocations'">
				   <li ng-class="{'active':selectedTab === 'dashboard'}" ng-click="selectedTab = 'dashboard'" class="dashboard"><a ng-click="gotoHome()"><span>Dashboard</span></a></li>

				   <li ng-class="{'active':selectedTab === 'audits'}" ng-click="selectedTab = 'audits';audit()" class="audits"><a ng-click="audit()"><span>Audits</span></a ></li>

				   <li ng-class="{'active':selectedTab === 'truckforcedealers'}" ng-click="selectedTab = 'truckforcedealers'" class="truckforcedealers"><a ng-click="dealer()"><span>TruckForce Dealers</span></a></li>

				   <li ng-class="{'active':selectedTab === 'manageteams'}" ng-click="selectedTab = 'manageteams'" class="manageteams"><a ng-click="manageTeams();"><span>Manage Teams</span></a></li>

				   <li ng-class="{'active':selectedTab === 'managelocations'}" ng-click="selectedTab = 'managelocations'" class="managelocations"><a ng-click="goTolocation()" ><span>Manage Locations</span></a></li>

				   <li ng-class="{'active':selectedTab === 'managetemplate'}" ng-click="selectedTab = 'managetemplate'" class="managetemplate"><a ng-click="template()"><span>Manage Audit Templates</span></a></li>

				</ul>
			</div>
		</div>
		<div ng-if="shouldShowTyreImg" class="col-sm-12" id="loading">
	      <img class="img-responsive" id="loading-image" src="/images/splashtirerotation.gif" alt="Loading..."/>
	   </div>		
		
	    <div class="col-sm-11 rightcontent">
		    <h3>Manage Locations</h3>
			<div class="locations locationContent">
				<div class="col-sm-7">
				    <h3 class="pageTitle">My Locations</h3>
				</div>
				<div class="col-sm-5">
				<div class="form-group">
				    <div class="col-sm-8">

				    <div class="form-group">
						<label for="usr">Select Country</label>						
						<select id="usr" class="form-control" name="countries" ng-model="selectedCountry"  ng-options="obj.country_name for obj in countryList | orderBy:'country_name'" placeholder="Select Country"><option value="">-Select Country-</option>
						</select>
					</div>
					</div>
					<div class="col-sm-4">
					<a class="btn btn-primary btn-responsive buttonleft" ng-click="addLocationClicked()"><b class="fa fa-plus-circle circle" ></b>Add Country</a>
					</div>
				</div>	
				</div>
				<div ng-repeat="marker in markers | orderBy : 'title'" >
				<div class="Country countrieslist">
				    <div class="col-sm-6 france">
					    <h4>{{marker.title}}</h4>
					</div>
					<div class="col-sm-6">
					    <img class="delete-right" ng-click="deleteCountrywithTemplate(marker.title)" src="/images/delete.png">
					</div>
				</div>
				</div>
				<div class="col-sm-12 mapClass">
					<div class="map-location">
						 <div id="map" style="height:400px;width:800px;"></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>