<div>
	<div class="col-sm-1">
		<div class="left-nav menubarlocations" >
		  <ul ng-init="selectedTab = 'managetemplate'">
		   <li ng-class="{'active':selectedTab === 'dashboard'}" ng-click="selectedTab = 'dashboard'" class="dashboard"><a ng-click="navigateToOtherTab('home')"><span>Dashboard</span></a></li>

		   <li ng-class="{'active':selectedTab === 'audits'}" ng-click="selectedTab = 'audits';audit()" class="audits"><a ng-click="navigateToOtherTab('audits.currentyearaudits')"><span>Audits</span></a ></li>

		   <li ng-class="{'active':selectedTab === 'truckforcedealers'}" ng-click="selectedTab = 'truckforcedealers'" class="truckforcedealers"><a ng-click="navigateToOtherTab('dealer')"><span>TruckForce Dealers</span></a></li>

		   <li ng-class="{'active':selectedTab === 'manageteams'}" ng-click="selectedTab = 'manageteams'" class="manageteams"><a ng-click="navigateToOtherTab('manageTeams')"><span>Manage Teams</span></a></li>

		   <li ng-class="{'active':selectedTab === 'managelocations'}" ng-click="selectedTab = 'managelocations'" class="managelocations"><a ng-click="navigateToOtherTab('location')" ><span>Manage Locations</span></a></li>

		   <li ng-class="{'active':selectedTab === 'managetemplate'}" ng-click="selectedTab = 'managetemplate'" class="managetemplate"><a ng-click="navigateToOtherTab('templateList')"><span>Manage Audit Templates</span></a></li>

		</ul>
		</div>
	</div>
	<div ng-if="shouldShowTyreImg" class="col-sm-12" id="loading">
      <img class="img-responsive" id="loading-image" src="/images/splashtirerotation.gif" alt="Loading..."/>
    </div>
	<div class="row manage manage-button managetemplatestab">
		<div class="col-sm-12">
		  <h3 class="manageheader pageTitle" style="margin-top:10px;">Manage Audit Templates</h3>
			<div class="tabs-btn">
				<div class="templatetabs">
					<div class="btn-group btn-group-justified justifieds">
						<span href=""  ng-click ="navigateToTemplateList()" class="templatebtns" ng-class=" spanlist ? 'btn  activecolor' : 'btn notactive'" >Templates</span>
						<span href="" ng-click ="createTemplate();" class="templatebtns" ng-class=" spanlist ? 'btn  notactive' : 'btn  activecolor'"  ng-controller="questionController" >Create Template</span>
					</div>
				</div>
				<div class="backbtndiv">
					<a ng-show="!spanlist" ng-click ="navigateToTemplateList()"  class="pull-right back-push backbtn"><i class="fa fa-chevron-left left-arrow" aria-hidden="true"></i>Back To List View</a>
				</div>
			</div>
		</div>
	</div>
</div>