<div ng-model="questStatus" >
<div class="row manage mar-manage manage-button" >
    <div class="col-sm-12">
	<div class="manage-subheared" ng-class ="questStatus ? 'noClass':'pr'" ><!-- ng-class ="questStatus ? 'noClass':'pr'"  -->
		<h4 class="manageheaders">Template Preview</h4>
		<div class="listed">
			<div class="tile-header" ng-repeat ="headers in groupedQuestionsArray " ng-init="headerIndex = $index">
				<div>
					<div class="holder-hide">
						
						{{headersOfQuestions[headerIndex]}}
						
						<span class="plus" ng-show="hiddens" ng-click="hiddens=!hiddens">+</span> 
						<span class="minus" ng-show="!hiddens" ng-click="hiddens=!hiddens">-</span> 
						<i class="fa fa-caret-up font-cartup" aria-hidden="true"></i>
					</div>
					<div ng-hide="hiddens">
						<div >
						  <div class="tites">
							 <div ng-repeat = "subheader in headers "><h4>{{subheader[0].sub_header_text}}</h4>
								 <table class="table table-inverse table-list">
									 <tbody>
										<tr  ng-repeat ="quest in subheader" >									
										 <td >{{quest.question_text}}<span ng-if="quest.mandatory_field" style="color:red;margin-left: 0px;">*</span><span class="pull-right versions">Version: {{quest.question_version}}</span>
										 	<form name="form" novalidate> 
										    <div class="col-sm-12 subalign" ng-show="editQuestion && quest.question_id==questionToUpdateInfo.quesID">
											    <div class="col-sm-3">
													<div class="form-group">
														<label for="usr">Select Header</label>						
														<select id="usr" class="form-control" name="header" ng-model="questionToUpdateInfo.header"  ng-options="obj.header_name as obj.header_name for obj in headerLists" ng-disabled="true"><option value="">-Select Header-</option>
														</select>
													</div>
												</div>
												<div class="col-sm-3">
													<div class="form-group">
													    <label for="usr">Select Sub-Header</label>
											            <select id="usr" class="form-control" name="subheader" ng-model="questionToUpdateInfo.subHeader"  ng-options="obj.sub_header_name as obj.sub_header_name for obj in subHeaderLists| filter: headSelected"  ng-disabled="true"><option value="">-Select Sub-Header-</option></select>
													</div>
											    </div>
												<div class="col-sm-2">
													<div class="form-group text-feilds">
													<label for="usr">Question Type</label>
													<select id="usr" class="form-control" ng-model="questionToUpdateInfo.qestTyp"  ng-options="obj for obj in questionTypesList" ng-disabled="true"><option value="">-Select Question Type-</option>
													</select>
												    </div>
												</div>
												<div class="col-sm-2 checked chk">
													 <input type="checkbox" name="mand" value="mand" ng-model="questionToUpdateInfo.mandatory">Mandatory<br>
												</div>
												<div class="col-sm-2 checked chks"  ng-if="'Numeric'== quest.question_typ && templateToUpdate.status !='saved'">
													 <input type="checkbox" name="major" value="Major" ng-model="questionToUpdateInfo.majorChange">Major Change<br>
												</div>
											</div>
											<div class="col-sm-12 sub-question" ng-show="editQuestion && quest.question_id==questionToUpdateInfo.quesID">
												<div class="form-group">
												  <label>Question</label>
												   <input type="text" class="form-control" id="usr" ng-model="questionToUpdateInfo.question" ng-change="updatequestionsFieldValuesChanged();" placeholder="Text">
												</div>
											</div>
										    <div class="col-sm-12">
	                                             <div class="" ng-if="'Text'== quest.question_typ"> 
	                                                 <div class="col-sm-12">
	                                                     <input type="text" class="form-control numeric" ng-disabled="true" placeholder="Text">
	                                                 </div>                                              
	                                             </div>
	                                             <div class="group group" ng-if="'Multiple Choice'== quest.question_typ ">    

	                                             	<div ng-repeat ="opts in questionOptions | filter: quest.question_id ">                                               
	                                                     <label class="checkbox box">
	                                                         <input type="checkbox" class="boxinput" ng-disabled="true">
	                                                         <input type="text" class="form-control" ng-model="opts.question_option" placeholder="Text" ng-disabled="true">
	                                                     </label>   
	                                                </div>                            
	                                      
	                                             </div>
	                                             <div class="group group" ng-if="'CheckBox'==quest.question_typ ">        

	                                            	<div ng-repeat ="opts in questionOptions | filter: quest.question_id ">                                          
	                                                     <label class="checkbox boxs">
															<div class="col-sm-2">
																 <input type="radio" class="left" ng-disabled="true">
																 <input type="text" class="form-control" ng-model="opts.question_option" placeholder="Text">
															</div>												
	                                                     </label>
	                                                 </div>
	                                             </div>
	                                             <div class="group group" ng-if="'Numeric'== quest.question_typ">
	                                                
	                                                 <div class="col-sm-2">
	                                                         <input type="number" name="min" class="form-control text-inputs" placeholder="Min" ng-change="minMaxAltered(quest.minimum_value,quest.maximum_value);" ng-model="quest.minimum_value" ng-disabled="!editQuestion" lower-than="{{quest.maximum_value}}">
	                                                 </div>                                               
	                                                 <div class="col-sm-2">
	                                                         <input type="number" name="max" class="form-control text-input" placeholder="Max" ng-change="minMaxAltered(quest.minimum_value,quest.maximum_value);" ng-model="quest.maximum_value" ng-disabled="!editQuestion">
	                                                 </div>
	                                                <div class="col-sm-1 top">
															<span class="error" ng-show="form.min.$error.lowerThan && (form.min.$touched || form.max.$touched)">
												      		  Max value should be more than Min value.
												     		</span>
												     </div>
										     		
	                                             </div>                                                 
                                             
	                                             <div class="group group" ng-if="'Y/N'==quest.question_typ">
		                                             <div class="col-sm-6 numerics">
		                                                 <input type="radio" name="yesno" value="yes" ng-disabled="true">Yes
		                                             </div>
		                                             <div class="col-sm-6 numerics">
		                                                 <input type="radio" name="yesno" value="no" ng-disabled="true">No
		                                             </div>                                            
	                                             </div>
	                                             <div class="group group" id='datetimepicker1' ng-if="'Date'==quest.question_typ">
	                                                 <div class="col-sm-3">
	                                                     <input type="date" class="form-control datetime" ng-disabled="true">
	                                                 </div>                                                             
	                                             </div>
                               				 </div>
										    <div class="col-sm-12" ng-show="editQuestion && quest.question_id==questionToUpdateInfo.quesID">
												<div class="right">
													<button type="button" class="btn btn-primary buttonprm" ng-click="updateSaveQuestion(quest)" ng-disabled="form.min.$error.lowerThan">SAVE</button>
													<button type="button" class="btn btn-primary buttonprm" ng-click="cancelEditing(questionToUpdateInfo.quesID)">CANCEL</button>													
												</div>
											</div>
										 	</form>
										 </td>	
										  <td><img src="/images/edit.png" ng-click="updateQuestion(quest);"></td>
										  <td><img src="/images/delete.png" ng-click="deleteQuestionClicked(quest)"></td>
										</tr>
									  </tbody>
								  </table>
							  </div>
						   </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-model="questStatus" ng-class ="questStatus ? 'noClass':'overlay'"></div> <!-- ng-class ="questStatus ? 'noClass':'overlay'"  -->
		</div>
	</div>
</div>
</div>