<div class="row" ng-init="getTemplateList(false)">
    <div class="col-sm-1">
	</div>
	<div class="list manage">
	<div class="col-sm-11">
		<div class="list-view templateContent" >
			<h3>List of Questionnaire Templates</h3>
			<table class="table table-striped table-listed model-lists" style=" overflow-x: auto;">
				<thead>
					<tr>
						<th>Template Name</th>
						<th ng-model="orderByField" ng-click="sort('creation_date',$event);">Created On &nbsp;&nbsp;<i ng-class="reverseSort ? 'fa fa-caret-down carts-down' :'fa fa-caret-up carts-up'"></i></th>
						<th  ng-model="orderByField"  ng-click="sort('status');">Status &nbsp;&nbsp;<i ng-class="reverseSort ? 'fa fa-caret-down carts-down' :'fa fa-caret-up carts-up'"></i></th>						
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="tempList in templateListItems" ng-if="tempList.status != 'Deleted'">
						<td>{{tempList.template_name | uppercase}}</td>
						<td>{{tempList.creation_date| date:"dd-MM-yyyy "}}</td>
						<td>{{tempList.status| uppercase}}</td>
						<td><img src="/images/edit.png" ng-click="updateTemplateData(tempList);"></td>
						<td><img src="/images/delete.png" ng-click="deleteTemplateClicked(tempList)"></td>
					</tr>									
				</tbody>		
			</table>
		</div>
	</div>
	</div>
</div>