<div class="" ng-init="retrieveAuditFiles();">
       
        <div class="audit-background">
        <div class="">
            <div class="manage-team-contianer container-fluid auditlist-container">
                
                <div class="tires-sale audit-sales audit-uploads">
                    <div class="row">
                        <div class="panel panel-default panel-table">
                            <!-- <div class="panel-heading panel-headings">
                                <div class="row">
                                    
                                   
                                    <div class="col col-xs-4"> 
                                                 
                                    </div>
                                    <div class="col col-xs-8 text-right buttons btn-texts">
                                        <div class="col-xs-3 ">
                                            <input type="text" class="form-control" placeholder="Search by File name" name="search" id="srch-term" ng-model="search.searchFilter">
                                        </div>                                          
                                      
                                        <input class="ng-hide" id="input-file-id" multiple type="file" ng-model="filestoUpload" onchange="angular.element(this).scope().uploadFiles(this.files)"/>
                                            
                                        <label for="input-file-id" class="btn btn-default"><i class="fa fa-upload" aria-hidden="true"></i></label> 
                                        <button class="btn btn-default" type="button"><i class="fa fa-download" aria-hidden="true"></i></button>    
                                    </div>
                                </div>
                            </div> -->
                            <div class="panel-heading panel-headings">
                              <div class="row">
                                  <div class="col col-xs-5">                              
                                  </div>
                                  <div class="col col-xs-3 input-searchs">
                                      <input type="text" class="form-control searchLabel" placeholder="Search by File name" name="search" id="srch-term" ng-model="search.searchFilter">
                                  </div>
                                  <div class="col col-xs-4 download-upload-icons">
                                      <div class="col col-xs-6 icon-labels" >
                                          <!-- <input class="ng-hide" id="input-file-id" multiple type="file"  /> -->
                                          <input class="ng-hide" id="inp" type='file' multiple accept=".xlsx,.xls,.pdf,.csv" ng-disabled="(selected_files.length>0)" > <!-- onchange="angular.element(this).scope().create_zip(this.files)" -->
                                                  
                                          <label for="inp" class="btn btn-default"><i class="fa fa-upload" aria-hidden="true"></i><span class="displayLabels">  Upload audits</span></label>                
                                      </div>
                                      <div class="col col-xs-6 icon-labels">
                                           <button ng-click="downloadSelectedFiles();" ng-disabled="!(selected_files.length>0)" class="btn btn-default"><i class="fa fa-download" aria-hidden="true" ></i><span class="displayLabels">  Download audits</span></button> 
                                      </div>
                                  </div>            
                                  
                              </div>
                            </div>
                            <div class="panel-body" style=" overflow-x: auto;">
                                  <table class="table table-striped table-bordered table-team">
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th>File Name</th>
                                              
                                              <th  ng-model="orderByField" ng-click="sort('AuditDate');reverseSort = !reverseSort ">Upload Date &nbsp;&nbsp;  <i  ng-class="reverseSort ? 'fa fa-caret-down carts-down' :'fa fa-caret-up carts-up'"></i></th>
                                              
                                              <!-- <th>Country</th> -->
                                          </tr>
                                      </thead>
                                      <tbody>


                                        
                                          <tr dir-paginate="audits in filteredList =(auditFiles |filter:{file_name:search.searchFilter}|orderBy:'orderByField':reverseSort|itemsPerPage:numberOfrows)"> 
                                              <td><span class="custom-checkbox"><input type="checkbox" ng-model="audits.checked" ng-change="fileSelected(audits);"></span></td>
                                              <td><div ng-bind-html="audits.file_name| uppercase |highlight:search.searchFilter"></div></td>
                                              <td><div ng-bind-html="audits.upload_date|date:'yyyy-MM-dd HH:mm:ss'|highlight:search.searchFilter"></div></td>
                                              
                                          </tr> 
                                          

                                          <!-- ng-show="!filteredList.length && noTTSAddedForManager" -->
                                          <tr ng-show="!filteredList.length && noAuditFiles"> 
                                            <td colspan="8"><div class="nodealer"><img src="/images/nodealer.png"><h1>Hi There!</h1><p>There are no Audits Uploaded</p></div></td>
                                          </tr>                                                                        
                                      </tbody>
                                  </table>
                            </div>
                            <div ng-show="filteredList.length && !noDetails" class="panel-footer">
                                <div class="row">
                                    <div class="col col-xs-12 text-center  marg-top">
                                      <dir-pagination-controls
                                          max-size="5"
                                          direction-links="true"
                                          boundary-links="true"
                                          style="z-index:0!important" >
                                      </dir-pagination-controls>

                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
