.assigndropdown:before {
    margin-right: 16px; 
}
.assign-dropdown .input-group h5 {
    float: left;
}
.table-striped > tbody > tr {
    height: 32px;
}
.date-control{
   width:100px !important;
}
.date-controls {
    width: 100px !important;
    margin-top: 2px;
    margin-left: 29px !important;
}
.audit-sales .panel-default > .panel-heading .buttons .inputs-group button {
    margin-top: 2px;
    height: 32px;
}
.table-list .numbers-top {
    width: 80% !important;
}
.error {
    display: block;
    font-size: 14px;
    color: red;
    position: relative;
    width: 200px;
    top: 35px;
    right: 100px;
    font-family: arial;
}
.minmaxerror{
    width: 270px!important; 
}
.teams  h1{
    font-family: arial;
    font-size: 20px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-top: 5px;
    margin-left: -14px;
    margin-bottom:-10px;
}
.input-searchs .form-control {
    margin-left: 54px !important;
    background-image:url('../images/search.png');
    background-position: 226px 0px !important;
    background-repeat: no-repeat;
    padding: 10px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-size: 30px !important;
    font-size:12px !important;
}
.audit-sales .panel-default>.panel-heading .buttons button {
    height: 32px;
    border: 1px solid #ccc !important;
}
.assigndropdown {
    width: 280px;
    z-index: 1;
    height: 170px;
}
.carts-down {
    position: relative;
    top: 0; 
}
.audit-sales {
    margin-top: 0px;
}
.carts-up {
    position: relative;
    top:0;
    left:0;
}
.text-field {
    margin-left: 14px;
    font-size: 20px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    line-height:normal;
}
.audit-background {
    background: #EDF2F6;
    float: left;
    width: 100%;
	/*margin-left:120px;*/
}
.inputs-group {
    margin-top: -20px;
}
.assign-dropdown .input-groups input {
    margin-left: 10px;
    margin-right: 10px;
}
.assign-dropdown .inputs-group input {
    margin-left: 28px;
    margin-right: 10px; 
}
.assign-dropdown .input-group input {
    background: #fff;
    width:200px;
}
.tts-search {
    width:100%!important;
}
.go-btn {
    background: #2882dd !important;
    color: #fff !important;
    margin-left: 34px;
    position: relative;
    top: -60px;
    float:right;
    right:10px;
}
.tires-sales .panel-default>.panel-headings {
    background:#fff;    
}
.audit-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(1) {
    max-width:300px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> thead> tr> th:nth-child(1) {
    min-width: 300px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-uploads .panel-default>.panel-body .table> thead> tr> th:nth-child(1){
    min-width:0px!important;
    width: 55px;
}
.audit-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(2) {
    max-width: 200px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> thead> tr> th:nth-child(2) {
    min-width: 200px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(3) {
    max-width: 200px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> thead> tr> th:nth-child(3) {
    min-width: 200px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(4) {
    max-width: 100px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> thead> tr> th:nth-child(4) {
    min-width: 100px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(5) {
    max-width: 100px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> thead> tr> th:nth-child(5) {
    min-width: 100px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(6) {
    max-width: 50px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.audit-sales .panel-default>.panel-body .table> thead> tr> th:nth-child(6) {
    min-width: 50px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.navlefts {
    position:fixed;
}
.navlefts ul {
    height:1280px;
    float:left;
    background:#eee;
    width: 108px;
}
.audit-sales .table-list > tbody > tr > td {
    border: 1px solid #ddd !important;
}
.audit-sales .panel-default {
    font-family:arial;
}
/* Super Truck */
.super-truck {
    margin-top:80px;
}
.super-truck  h1{
    font-family: arial;
    font-size: 24px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-top: 5px;
    margin-left: 6px;
    margin-bottom:-10px;
}
.super-audit {
    background:#ccc;
    border:1px solid #ddd;
    margin-top:19px;
    width:99%;
    float:left;
}
.super-audit h2{
    font-family: arial;
    font-size:18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 12px;
}
.audit-second {
    background:#ddd;
    border:1px solid #ddd;
    float:left;
    width:99%;
}
.audit-date h2{
    font-family: arial;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 12px;
	display: block;
    word-wrap: break-word;
}
.audit-person h2{
    font-family: arial;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 12px;
	display: block;
    word-wrap: break-word;
}
.audit-done h2{
    font-family: arial;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 12px;
	display: block;
    word-wrap: break-word;
}
.audit-seconds {
    background:#eee;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    float:left;
    width:99%;
}
.audit-date h4{
    font-family: arial;
    font-size:14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 12px;
	display: block;
    word-wrap: break-word;
}
.audit-person h4{
    font-family: arial;
    font-size:14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-left: -4px;
    margin-bottom: 10px;
    margin-top: 12px;
	display: block;
    word-wrap: break-word;
}
.audit-done h4{
    font-family: arial;
    font-size:14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 12px;
	display: block;
    word-wrap: break-word;
}
.audits-seconds {
    background:#eee;
    float:left;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    width:99%;  
}
.audit-comment {
    background:#ddd;
    float:left;
    border:1px solid #ddd;
    width:99%;
    margin-top:19px;
}
.audit-comments {
    background:#eee;
    float:left;
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    width:99%;
}
.audit-comments h2 {
    font-family: arial;
    font-size:14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 12px;
	display: block;
    word-wrap: break-word;
}

.audit-comment  h2{
    font-family: arial;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 12px;
	display: block;
    word-wrap: break-word;
}
.audit-manages {
    margin-left:110px;
}
.back-row {
    text-decoration:none !important;
    color:#000;
    font-family:arial;
    font-size:18px;
}
.back-button {
    margin-top: -14px;
}
.back-button a:hover {
    color:#000; 
}
.back-button  .fa-chevron-left  {
    font-size: 18px;
    position: relative;
    top: 1px;
    right: 6px;
    cursor: pointer;
}
@media (max-width: 1430px) {
.input-searchs .form-control {
   margin-left: 40px;
   background-position: 210px 0px;
}
.searchLabel{
    margin-left: 80px!important;
}
}
@media (max-width: 1366px) {
.input-searchs .form-control {
   margin-left: 40px !important;
   background-position: 240px 0px !important;
}
.manage-team-contianer {
    margin-left: 0px !important;
}
.searchLabel{
    margin-left: 80px!important;
}
}
@media (max-width: 1349px) {
.input-searchs .form-control{
    background-position: 200px 0px;
    margin-left: 40px;
    font-size: 11px;
}
.searchLabel{
    margin-left: 80px!important;
}
}
@media (max-width: 1290px) {
.manage-team-contianer {
    margin-left: 0px !important;
}
.input-searchs .form-control {
    background-position: 190px 0px;
    margin-left: 30px;
}
.searchLabel{
    margin-left: 80px!important;
}
}
@media (max-width: 1250px) {
.manage-team-contianer {
    margin-left: 0px !important;
}
.input-searchs .form-control {
    background-position: 170px 0px;
    margin-left: 30px;
    font-size: 10px;
}
.audit-sales .panel-default > .panel-body .table > thead > tr > th:nth-child(1) {
    min-width: 240px !important;
}
.searchLabel{
    margin-left: 80px!important;
}
.displayLabels{
    display:none;
}
}
@media (max-width: 1180px) {
.manage-team-contianer {
    margin-left: 0px !important;
}
.input-searchs .form-control {
    background-position: 173px 4px;
    margin-left: 30px;
    font-size: 10px;
    background-size: 20px;
}
.audit-sales .panel-default > .panel-body .table > thead > tr > th:nth-child(2) {
    min-width: 180px !important;
}
.audit-sales .panel-default > .panel-body .table > thead > tr > th:nth-child(3) {
    min-width: 170px !important;
}
.displayLabels{
    display:none;
}
}
@media (max-width: 1130px) { 
.manage-team-contianer {
    margin-left: 0px !important;
}
.audit-sales .panel-default > .panel-body .table > thead > tr > th:nth-child(3) {
    min-width: 140px !important;
}
.displayLabels{
    display:none;
}
}
@media (max-width: 1090px) {
.manage-team-contianer {
    margin-left: 0px !important;
} 
.audit-sales .panel-default > .panel-body .table > thead > tr > th:nth-child(3) {
    min-width: 120px !important;
}
.displayLabels{
    display:none;
}
}
@media (max-width: 1070px) {
.manage-team-contianer {
    margin-left: 0px !important;
} 
.audit-sales .panel-default > .panel-body .table > thead > tr > th:nth-child(1) {
    min-width: 230px !important;
}
.audit-sales .panel-default > .panel-body .table > thead > tr > th:nth-child(2) {
    min-width: 160px !important;
}
.displayLabels{
    display:none;
}
}
@media (max-width: 1000px) { 
.manage-team-contianer {
    margin-left: 0px !important;
}
.displayLabels{
    display:none;
}
}
@media (max-width: 900px) { 
.manage-team-contianer {
    position: relative;
    left: -30px;
}
.download-upload-icons{
    text-align:right;
    padding-right: 40px;
    padding-left:30px;
}
.displayLabels{
    display:none;
}
}
.resetButton{
    margin-right: -70px;
    background: #2882DD;
    color: #fff; 
    border-color: #2882DD !important;
}
@-moz-document url-prefix() { 
    .input-searchs .form-control {
        padding:0 33px 2px 12px;
        background-position: 250px 0px;
    }

}
.download-audits {
    margin-top:2px;
    background:#ccc;
    border:2px solid #eee;
    border-color:#777 !important;
    cursor:pointer;
}
.auditlist-container{
   margin-top: 120px!important;
   width: 100%;
}
.download-upload-icons{
    text-align:right;
    padding-right: 40px;
}
.icon-labels{
    padding:0px!important;
}
.auditTable{
    padding:0px!important;
}
.auditTableList{
    margin-top:0px!important;
}
.auditsTab:focus{
    background-color:#2882DD!important;    
}
.auditDetails{
  margin-left:120px!important;  
}
@media (min-width: 1900px) {
.auditpage{
    margin-left:6%;
}
}
@media only screen and (max-width: 1099px) and (min-width: 1050px){
    
    .manage-team-contianer{
        margin-left:8px!important;
    }
    .auditlist-container{
        width:96%!important;
    }
    
}
input:disabled+label{
cursor:not-allowed;
}
