.customPanelClass{
	margin-bottom: 0px;
}
.customPanelBody{
	background-color: #DDEEFF;
	margin-bottom: 0px;
}
.customLabelClass{
	color: #696969;
	font-family: arial;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0.2px;
}
.saveButton{
	width: 150px;
	margin-top: 6%;
}
:focus ~ .errorMsg {
     display:none;
}
@media (min-width: 1900px) {
.createdealerform{
     margin-left:0px!important;
}
}
.searchBar{
	width: 99.9%!important;
    top: 0px!important;
    position:absolute!important;
}
.auditlistclass{
	    
    margin-top: 143px!important;   
    float: left;
    width: 100%;
}
.auditlistdiv{margin-top: 49px!important;width:100%!important;}
.dealerTable{border: 1px solid #dae0e6 !important;border-right-width: 0px!important;}

@media only screen and (max-width: 1099px) and (min-width: 1050px){
.searchBar{
         width:95.9%!important;
    }
    .auditlistdiv{
        width:96%!important;
    }
}