.dash-board {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    width: 97%;
    float: left;
}
.dash-board h2 {
    font-family: arial;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: -5px;
}
.achiever {
    margin-left:10px;
	margin-bottom:40px;
	margin-top:60px;
	/*min-height:250px;*/
}
.leading {
    margin-right: 10px;
	margin-bottom:40px;
	/*min-height: 250px;*/
	font-family:arial;
	margin-top:60px;
	margin-left: -20px;
}
.dashboard-org {
    background:#f3a267;
	float:left;
	width:100%;
	margin-bottom:10px;
}
.orange {
    float: left;
    width: 35%;
    margin-top: 10px;
    margin-left: 10px;
}
.dashboard-org h4 {
    font-size: 14px;
    font-family: arial;
    color: #fff;
}
.dashboard-red {
    background:#ed7c7c;
	float:left;
	width:100%;
	margin-bottom:10px;
}
.red {
    float: left;
    width: 35%;
    margin-top:10px;
    margin-left: 10px;
}
.dashboard-red h4 {
    font-size: 14px;
    font-family: arial;
    color: #fff;
}
.dashboard-blu {
    background:#4db0cd;
	float:left;
	width:100%;
}
.blue {
    float: left;
    width: 35%;
    margin-top: 10px;
    margin-left: 10px;
}
.dashboard-blu h4 {
    font-size: 14px;
    font-family: arial;
    color: #fff;

}
.dashboard-gre {
    background:#61c3b9;
	float:left;
	width:100%;
}
.green {
    float: left;
    width: 35%;
    margin-top: 10px;
    margin-left: 10px;
}
.dashboard-gre h4 {
    font-size: 14px;
    font-family: arial;
    color: #fff;
}
.dashboard-table {
    float: left;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px !important;
}

.dashboard-table > tbody > tr > td {
    border-top:0px;
	color:#fff;
	font-family:arial;
	font-size:14px;
}
.leading > .panel-heading {
    color: #fff;
    background-color: #6f7d95;
	font-family:arial;
	padding: 2px 15px;
}
.achiever > .panel-heading {
    color: #fff;
    background-color: #6f7d95;
	font-family:arial;
	padding: 2px 15px;
}
.down-dashboard {
    position: relative;
    top: 5px;
    left: 8px;
}
.up-dashboard {
    position: relative;
    top: -4px;
}
.records {
    width:120px;
    height: 100%;
    margin-top: 20px;
    padding: 0;
    display: inline-block;
    float: left;
    text-decoration: none;
    list-style: none;
}
.recerd  {
    padding-top: 20px;
    padding-left: 100px;
}
.record  {
    padding-top: 30px;
    padding-left: 110px;
}
.chart {
    display: table;
    table-layout: fixed;
    width : 100%;   
    height: 300px;
    margin-top: 10px;
    margin-bottom: 65px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, transparent 2%);
    background-size: 100% 50px;
    background-position: left top;
    border-left: 1px solid #ccc;
    font-size: 12px;
    float: left;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
  top: 15px;
  text-align: center;
}
.chart span {
  margin: 0 1em;
  display: block;
  background: #2882dd;
  animation: draw 1s ease-in-out;
}
.chart span:before {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}
.dashboard-chart {
    margin: 10%;
    margin-top:0%;
	max-height:300px;   

}
.audit-records {
    position: relative;
    top: -20px;
    left: 70px;
	font-size: 14px;
    font-weight: bold;
}
.audit-month {
    position: relative;
    top: -34px;
    left: -10px;
    float: right;
    font-size: 14px;
    font-weight: bold;
}
.dashboard-chart > .panel-heading {
    padding: 10px 15px;
}
.border-left {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-left: 2px solid #ffffff;
    width: 1%;
    float: left;
    height: 45px;
}
.border-top {
    border-top: 2px solid #fff;
    width: 100%;
    float: left;
    margin-top: -2px;
    margin-bottom: 7px;
}
.leading > .table > tbody > tr > th {
    font-size:12px;
}
.leading > .table > tbody > tr > td {
    font-size:10px;
}
@media (max-width: 1180px) {
.achiever {
    margin-left: 40px !important;
}
}
@media (max-width: 960px) {
.achiever {
    margin-left: 60px !important;
}
}
@media (max-width: 844px) {
.leading {
    margin-left: 70px !important;
}
}

.ttsName{
    color:white;
    padding:7px;
}
.dashBoardNoContent{
    margin-top: 10%;
}
.notactive{
    border-left: 1px solid #ddd!important;
    padding: 6px 6px!important;
}
.pageTitle{
    
    font-family: arial;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #343233;
}