.form-top {
	margin: 10px 20px 28px;
	border-bottom:1px solid #dbdbdb;
}
.savebutton {
    float: right;
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    margin-right: 7px;
    margin-top: -10px;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: #2882dd;
    font-family: arial;
    margin-bottom: 18px;
}
.form {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #f5f5f5;
    border: 1px solid #dae0e6;
    margin-left: -14px;
	margin-top: 142px;
	margin-bottom:50px;
}
.form-group {
	font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #343233;
	font-family: arial;
}
.modal-header {
    text-align: center;
	font-family: arial;
}
.modal-body {
    font-family: arial;
}
.modal-footer {
    font-family: arial;
}
.text-feilds {
    width: 200px;
}
.chk {
    position: relative;
    left: 64px;
}
.chks {
    margin-left: -20px;
    position: relative;
    left: 60px;
}
.versions {
    font-size: 10px;
    font-family: arial;
}
.manages-location {
    margin-left: 130px;
	padding: 20px;
    margin-top: 30px;
    background: #ecf2f6;
}
.nav-barleft {
    margin-left: -15px;
}
.audits-data {
    margin-top: 20px !important;
}