@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body, html {
    height: 100%;	
	background:#ecf2f6;
}
.background {
    background-image: url('/images/loginbackground.jpg');
	min-height:790px;
	background-size: 1450px 780px;
    min-height: 780px;
}
.card-container.card {
    width: 767px;
    padding: 40px 40px;
    height: 417px;
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.card {
    background-color: rgba(255,255,255,0.8);
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: -20px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	font-family: arial;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
	font-family: arial;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
	font-family: arial;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
.login-content {
	border-right: 1px solid #ffffff;
	height: 350px;
}
.login-content p { 
    font-family: arial;
	margin-left: 88px;
	font-size: 22px;
    font-weight: 600;
    line-height: 1.09;
    letter-spacing: -0.2px;
    color: #111111;
 }
.login-content .form-control {
	left: -28px;
	top:10px;
}
.login-content .checkbox label, .radio label {
	margin-left: -5px;
	padding-left:0px;
	margin-top:10px;
	color:#2882dd;
	font-family: arial;
}
.login-content .btn.btn-signin {
	margin-left:-25px;
	background-image: linear-gradient(to top, #f27138, #faab59), linear-gradient(#ffffff, #ffffff);
	height: 50px;
    margin-top: 30px;
	font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
	font-family: arial;
}

.login-content .form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text], .form-signin button {
	margin-bottom:20px ;
	border: 1px solid #929292;
	z-index:0;
}
.login-content .forgot-password {
	margin-left: 50px;
    text-decoration: none;
	color:#2882dd;
	font-family: arial;
}
.audit-content h1 {
	font-size: 22px;
    font-weight: 600;
    line-height: 1.09;
    letter-spacing: -0.2px;
    color: #111111;
	font-family: arial;
	margin-top: 0px;
}
.audit-content p {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.2px;
	color: #111111;
    font-family: arial;
	margin-top: 30px;
}
.login-logo {
    padding: 40px;
    margin-left: 35%;
	margin-top:-20px;
}
@media (max-width:900px){
	.card-container.card {
		margin-left:-10px;
		width: 740px;
	}
}
@media (max-width:1366px){
    .background {
	    background-size: 1400px 732px;
        min-height: 732px;
	}
}
@media screen and (max-width: 750px) and (min-width: 680px) {	
	.card-container.card {
		margin-left:40px;
		width: 600px;
	}
	.login-content .forgot-password{
	    margin-left: -6px;
        width: 155px;
        float: left;
        margin-top: 5px;
	}
		.card {
		margin-top:-30px;
	}
}
@media screen and (max-width: 679px) and (min-width: 550px) {	
	.card-container.card {
        margin-left: 0px;
        width: 500px;
	}
	.login-content .forgot-password{
	    margin-left: -25px;
        width: 155px;
        float: left;
        margin-top: 5px;
	}
	.login-logo {
		margin-left: 20%;
	}
	.card {
		margin-top:-30px;
	}
}
@media screen and (max-width: 549px) and (min-width: 450px) {	
	.card-container.card {
        margin-left: 0px;
        width: 425px;
	}
	.login-content .forgot-password{
	    margin-left: -25px;
        width: 155px;
        float: left;
        margin-top: 5px;
	}
	.login-logo {
		margin-left: 20%;
	}
	.login-content p {
		margin-left:0px;
	}
		.card {
		margin-top:-40px;
	}
}


@media screen and (max-width: 449px) and (min-width: 300px) {
		.card-container.card {
        margin-left: 0px;
        width: 425px;
	}
	.login-content .forgot-password{
	    margin-left: -25px;
        width: 155px;
        float: left;
        margin-top: 5px;
	}
	.login-logo {
		margin-left: 20%;
	}
	.login-content p {
		margin-left:0px;
	}
		.card {
		margin-top:-40px;
	}
}

#loading {
width: 100%;
height: 100%;
top: 0px;
left: 0px;
position: fixed;
display: block;
opacity: .8;
background-color: #fff;
z-index: 99;
text-align: center;
}

#loading-image {
position: absolute;
top: 38%;
left: 44%;
z-index: 600;
width: 13%;
}


@media screen and (min-width: 1366px){
.background {
    background-image: url(/images/loginbackground.jpg);
    min-height: 790px;
    background-size: 1366px 786px;
    min-height: 786px;
}
}
@media screen and (min-width: 1600px){
.background {
    background-image: url(/images/loginbackground.jpg);
    min-height: 790px;
    background-size: 1600px 900px;
    min-height: 900px;
}
}
@media screen and (min-width: 1920px){
.background {
    background-image: url(/images/loginbackground.jpg);
    min-height: 790px;
    background-size: 1920px 1080px;
    min-height: 1080px;
}
}
