.manageheader {
	color:#343233;
	font-size:20px;
	font-family:arial;
	font-weight:bold;
}
.btn-default {
	border-color: #2882DD !important;
	font-size:16px;
	border:2px solid #2882DD;
	font-family:arial;
	font-weight:normal;
}
.btn-primary {
	background: #2882DD !important;
	border:2px solid #2882DD;
    font-size:16px;
    font-family:arial;
	font-weight:normal;
}
.btn-primary:hover, .btn-primary.focus, .btn-primary:focus, .btn-primary:active{
	border-color: #2882DD !important;
}
.btn-group-justified > .btn:active {
    background: #2882DD;
    border-bottom: 3px solid #2882DD;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
	
}
.justifieds .btn.btn-primary {background:none !important;color:black;}
.images {
	cursor:pointer;
	margin-bottom:8px;
}
.dropdefault {
    width: 290px;
    border-color: #ccc !important;
    border: 1px solid;
	margin-top:24px;
	padding-right: 220px;
	font-weight:normal;
	font-family:arial;
} 
.dropdefault span {
	position: absolute;
    top: 36px;
    right: 10px;
}
.actionback {
    background: #e9f2fb;
    width:95%;
    float: left;
    padding: 10px;
    margin-top: -2px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.mar-manage {
    margin-top:0px !important;
}
.actionbacks {
    background: #e9f2fb;
    width: 95%;
    float: left;
    padding: 10px;
    margin-top: -2px;
    border-bottom: 2px solid #ececec;
    border-left: 2px solid #ececec;
    border-right: 2px solid #ececec;
    margin-left: -1px;
    margin-right: 1px;
}
.inputtitle {
    font-size: 14px;
    font-weight: 500;
    color: #0d0d0d;
	margin-top:20px;
    font-family:arial;
}
.menubar {
	background:white;
}
.menubar > li > a {
	color:black;
}
.centers {
    margin-top: -6px;
    width: 13%;
}
.defaults {
    width: 170px;
    border: none;
    margin-top: 6px;
    background-image: url("/images/addheader.png");
    background-repeat: no-repeat;
    background-position-x: 16px;
    background-position-y: 0px;
	background-color: rgba(199, 223, 247, 0.01);
	font-family:arial;
}
.defaults span {
	position: absolute;
    top: 20px;
    right: 10px;
}
.defaults.active, .defaults:active, .open>.dropdown-toggle.defaults {
	background-image: url("/images/addheader.png");
    background-position-x: 15px;
    background-position-y: 0px;
}
.defaults:focus {
    outline: none;
}
.defaults.active {
    background-color: #fff !important;
    color: black !important;
    border-top: 5px solid #2882dd !important;
    border-bottom: 2px solid #fff !important;
    border-left: 2px solid #fff !important;
    border-right: 2px solid #fff !important;
    padding-bottom: 5px;
    padding-top: 2px;
}
.defaults a, .defaults a:hover, .defaults a:focus, .defaults a:active {
    color: black;
    text-decoration: none;
	font-family:arial;
}
.header.active {
    background-color: #fff !important;
    color: black !important;
    border-top: 5px solid #2882dd !important;
    border-bottom: 2px solid #fff !important;
    border-left: 2px solid #fff !important;
    border-right: 2px solid #fff !important;
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 10px;
}
.header a, .header a:hover, .header a:focus, .header a:active {
    color: black;
    text-decoration: none;
	font-family:arial;
}
.header:focus {
    outline: none;
}
.question.active {
    background-color: #fff !important;
    color: black !important;
    border-top: 5px solid #2882dd !important;
    border-bottom: 2px solid #fff !important;
    border-left: 2px solid #fff !important;
    border-right: 2px solid #fff !important;
    padding-bottom: 3px;
    padding-top: 2px;
    padding-left: 30px;
}
.question a, .question a:hover, .question a:focus, .question a:active {
    color: black;
    text-decoration: none;
	font-family:arial;
}
.header {
	width: 170px;
    border:none;
    margin-top: 6px;
    background-image: url("/images/addsubheader.png");
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: -1px;
	padding-left:0px;
	background-color: rgba(199, 223, 247, 0.01);
	font-family:arial;
	margin-left: 20px;
}
.header span {
	position: absolute;
    top: 20px;
    right: 10px;
}
.header.active, .header:active, .open>.dropdown-toggle.header {
	background-image: url("/images/addsubheader.png");
    background-position-x: 4px;
    background-position-y: 0px;
}
.question {
	width: 180px;
    border:none;
    margin-top: 6px;
    background-image: url("/images/addquestion.png");
    background-repeat: no-repeat;
    background-position-x: 1px;
    background-position-y: -1px;
	padding-right: 40px;
    background-color: rgba(199, 223, 247, 0.01);
    font-family:arial;
    margin-left: 40px;	
}
.question span {
	position: absolute;
    top: 20px;
    right: 10px;
}
.question.active, .question:active, .open>.dropdown-toggle.question {
	background-image: url("/images/addquestion.png");
	background-position-x: 12px;
    background-position-y: 1px;
}
.question:focus {
    outline: none;
}
.buttonprm {
	margin-top: 22px;
    width: 96px;
	margin-bottom:5px;
}
.borderbutton {
    border-bottom: 1px solid #ccc;
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
.fatime {
	margin-top: 35px;
	float: right;
}
.checked {
	margin-top: 30px;
}
input[type=checkbox], input[type=radio] {
	margin: 4px 6px 0;
}
.group {
	margin-top: 15px;
}
.manage {
    padding: 20px;
	margin-top:30px;
    background: #ecf2f6;
	margin-left:92px;
}
.managetemplatestab{
    margin-top:40px!important;
}
#subHeader1 .manage {
padding: 0 20px;
margin-top:-20px;
}
.right {
    float: right;
    margin-top: -22px;
}
.border {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: rgba(199, 223, 247, 0.75);
    width:95%;
    border-bottom: 3px solid #ccc;
    float: left;
    height: 45px;
}
.manageheaders {
    margin-top: 12px;
    font-family: arial;
    font-weight: 700;
    font-size: 15px;
    margin-left: -4px;
}
.colors {
    background: rgba(199, 223, 247, 0.75);
    margin-top: 10px;
    width: 95%;
    margin-left: 0px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    float: left;
	height:34px;
	
}
label {
   font-weight:normal;
}
.text-inputs {
   margin-top:20px;
   width:100px;
   margin-left:-14px;
}
.text-input {
   margin-top:20px;
   width:100px;
   margin-left:-60px;
}
.min-label {
   margin-top:35px;
   margin-left:-1px;
}
.Max-label {
   margin-top:35px;
   margin-left:-46px;
}
.buttonprms {
    margin-top: 17px;
    width: 170px;
}
.boxinput {
    margin-top: 10px !important;
}
.box {
    margin-left:10px;
	width: 124px;
}
.numerics {
   margin-left:-14px;
}
.datetime {
   margin-left:-14px;
   width:200px;
}
.left {
   float:left;
}
/* list */
.accordion {
    margin-bottom: 20px;
}
.accordion-heading {
    border-bottom: 0;
	padding:10px;
	background:#ccc;
}
.accordion-heading a {
	text-decoration:none;
	color:black;
	font-weight:normal;
	font-family:arial;
}
.accordion-group {
    margin-bottom: 22px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.collapse {
    position: relative;
    height: auto;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}
.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}
/*@import url('../css/font-awesome.min.css');*/
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f067";
    float: right;
    font-size: 20px;
    margin-top: -2px;
	color:black;
}
.accordion-opened  .accordion-toggle:after {    
    content: "\f068"; 
	float: right;
    font-size: 20px;
    margin-top: -2px;
	color:black;
	font-family: 'FontAwesome';
}
.width {
	width:30px;
}
.tableborder {
	border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    padding-left: 4px;
}
.unit-label {
    margin-top: 6px;
    margin-left: -20px;
}
.left {
	margin: 10px;
}
.comments-label {
    margin-left: -14px;
    margin-top: 14px;	
}
.comments-text {
    margin-top: 10px;
    margin-left: -80px;	
}
.listed {
    margin-bottom: 10px;
    width: 96%;
    float: left;
    margin-left: 10px;
}
.holder-hide {
    padding:5px;
	background:#2a5784;
	margin-bottom: 2px;
    cursor: pointer;
	font-family:arial;
	color:white;
	font-weight:600;
}
.holder-hide a {
   text-decoration:none;
   color:white;
   font-family:arial;
   font-size:18px;
}
.listed .plus {
    border-radius: 50%;
    padding: 0px 3px;
    border: 2px solid #fff;
    font-weight: bold;
    color: white;
    float: right;
    font-size: 10px;
	margin-right: 10px;
    margin-top: 1px;
}
.listed .minus {
    border-radius: 50%;
    padding: 0px 5px;
    border: 2px solid #fff;
    font-weight: bold;
    color: white;
    float: right;
    font-size: 10px;
	margin-right: 10px;
    margin-top: 1px;
}
.tites {
    font-family: arial;
    font-weight: 600;
    font-size: 12px;
    /* border: 1px solid #eee; */
    margin-top: 10px;
}
.table-list {
    margin-top: 10px;
	background:white;
	margin-bottom:10px;
}
.table-list > tbody > tr > td {
    font-family: arial;
    font-size: 14px;
    border: 1px solid;
    color: #555;
	font-weight:normal;
	padding:2px 2px 2px 10px;
	vertical-align: middle;
}
.sub-header {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
    color: #000;
    font-weight: normal;
}
/*template*/
.list {
    margin-top: -40px;
    width: 100%;
    float: left;
    margin-left: 84px;
}
.list h3 {
    font-family: arial;
    font-size: 18px;
    padding: 10px;
	margin-top:3px;
}
.table-listed {
    float: left;
    /* margin-left: 17px; */
    margin-right: 20px;
    max-width: 100%;
    border: 1px solid #ccc;
    font-family: arial;
    background: white;
    margin-top: -12px;
}
.table-listed>thead>tr>th {
	padding:15px;
}
.table-listed > tbody > tr > td{
	padding:15px;
}
.table-listed > tbody > tr > td > img {
    width: 19px;
    cursor: pointer;
	margin-left: 10px;
}
.search input[type=search] {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/images/search.png');
    background-position: right;
    background-repeat: no-repeat;
    padding: 5px 36px 5px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	float: right;
    margin-right: 9px;
    margin-top: 8px;
    background-size: 24px;
	font-family:arial;
	height:30px;
}
/*Manage Locations*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:arial;
}
.manage h3 {
	margin-left:0px;
    font-family:arial;
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	color: #343233;
    	
}
.locations {
    background-color: #ffffff;
    border: solid 1px #dae0e6;
    margin-left: 0px;
    padding: 10px;
    margin-right: 20px;
    float: left;
    width: 100%; 
    margin-bottom:20px;	
}
.locations h6 {
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	color: #000000;
	font-family:arial;
	margin-top:23px;
}
.selectdown {
    margin-top: 0px;
    float: left;
    width: 315px;
	border: solid 1px #b8bec5;
    border-radius: 2px;
}
.selectdown a {
	padding:10px;
    background-color: #ffffff;
	text-decoration:none;
    float: left;
    width: 310px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: left;
	color: #706f6f;
	font-family:arial;
}
.select-down > li > a:last-child {
    border-bottom: 0px;
}
.selectdown b {
	margin-left:60%;
}
.select-down  {
	background-color: #ffffff;
	padding-bottom:0px;
}
.select-down > li > a{
	color: #000000;
	font-family:arial;
    border-bottom: 1px solid #ccc;
    padding: 10px;	
}
.select-down li {
    margin-top: -4px;	
}
.select-down>li>a:focus, .select-down>li>a:hover {
    background-color: #d9edf7;
}

.circle {
	margin-right: 7px;
}
.buttonleft {
	margin-left: -20px;
    margin-top: 23px;
	float:right;
	background:#656565 !important;
	border:1px solid #656565;
	border-radius: 0px;
}
.Country {
	float: left;
    width: 100%;
    background: #f5f5f5;
    padding: 5px;
    margin-top: 8px;
    margin-left: 0px;
    border-top: solid 1px #dae0e6;
	margin-bottom: -10px;
	height:36px;
}
.delete-right {
    float: right;
    margin-top: 4px;
    cursor: pointer;
    height: 16px;
}
.france h4 {
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.69;
	text-align: left;
	color: #565656;
	font-family:arial;
	margin-top:-2px;
}
.Countrys {
	float: left;
    width: 101.5%;
    padding: 5px;
    margin-top: 0px;
    margin-left: -9px;
    border-top: solid 1px #dae0e6;	
}
.margin {
    margin-bottom: -9px;
}
.map-location {
    margin-bottom:20px;
	margin-top:20px;
}
.left-nav li {
    cursor:pointer;
}
.table-list > tbody > tr > td:last-child {
    width:40px;
}
.table-list > tbody > tr > td:nth-of-type(2) {
    width:50px;
}
.table-list > tbody > tr > td:nth-of-type(3) {
    width:40px;
}
.pr{position:relative;}
.centers .dropdown button{border-top:5px solid rgba(199, 223, 247, 0.01);}
.quotionare-buttons button{
    background: #c7dff7;
    height: 38px;
    font-size: 16px;
    font-family: arial;
    outline: none;
    border-width: 0;
    padding: 0;
}
.quotionare-buttons img {
    height: 26px;
    margin-top: 1px;
}
.quotionare-buttons button.nb{border:1px solid #e6e6e6;border-radius:3px;min-width:120px;text-align:left;padding:0 5px; height:30px;background: white; margin-top: 6px;margin-right: 10px;}
.overlay{
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.21);
    left: 0;
}
.menu li:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.justifieds .btn {
    border: none;
    color: #000;
    text-align: -webkit-center;
}
.justifieds {
    margin-left:0px;
    background: #fff;
    font-size: 12px;
    font-family: arial;
    border-radius: 3px;
	border-left: 1px solid #dae0e6;
    border-right: 1px solid #dae0e6;
    border-top: 1px solid #dae0e6;
}
.tabs-btn {float: left;width: 100%;display:flex;}
.list-view {
    background: white;
    float: left;
    width: 100%;
    margin-left: 24px;
    margin-right: 20px;
    border-left: 1px solid #dae0e6;
    border-right: 1px solid #dae0e6;
    border-top: 1px solid #dae0e6;
}

.table-listed > tbody > tr:nth-of-type(odd) {background-color: #f5f5f5;}
.table-listed > thead > tr > th, .table-listed > tbody > tr > td {border-right:1px solid #ddd !important;}
.font-cartup {   
	color: white;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.manage-subheared {
    float: left;
    width: 95%;
    background: #e9f2fb;
    margin-top: -30px;
    border: 1px solid #ddd;
    margin-bottom: 40px;
}
.manage-subheared h4 {
    margin-left: 20px;
}
.navleft {
	position:fixed;
}
.navleft ul {
	height:1280px;
	float:left;
	background:#eee;
    width: 112px;
}
.table-list img {
    height: 16px;
    margin-left: 4px;
    margin-right: 12px;
    margin-top: 1px;
}
.table-list span {
    margin-left: 10px;
    margin-right: 10px;
}
.tile-header {
    background:#e2e5e9;
}
.tites h4 {
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px !important;
    height: 7px;
}
.addoption {
	top: -7px;
    cursor: pointer;
    margin-left: -30px;
    position: relative;
    font-size: 30px;
    color: #2882dd;
}
.add-options {
    top: -16px;
    cursor: pointer;
    margin-left: -30px;
    position: relative;
    font-size: 30px;
    color: #2882dd;
}
.tabs-btn .btn-default {
    background:white;
}
.tabs-btn .btn-default:hover {
    background-color: #2882DD !important;
    border-radius: 0px;
    border-bottom: 3px solid #2882DD !important;
    color: #fff !important;
}
.actionback .form-group {
    margin-bottom: -10px;
}
.actionback .form-control {
    margin-bottom: -10px;
}
.model-popupselected {
    top: -30px;
	left: 27%;
}
.select-ctry {
    padding: 10px 39px;
    text-align: start;
}
.add-ctry {
    margin-bottom: 0px;
	margin-left: 0px;
	margin-top: -40px;
}
.add-ctry .btn.defaultes {
    width: 350px;
	font-family:arial;
	font-weight:100;
}
.select-ctry .additionalHelp {
    margin-top: 10px;
}
.additionalHelp .btn {
    background-color: #2882dd;
    border-color:#2882dd;
	font-family:arial;
	cursor: pointer;
	width: 100px;
    margin-left: -10px;
}
.form-control {
   height:32px;
}
.input-titles {
    font-size: 14px;
    font-weight: 500;
    color: #0d0d0d;
    font-family: arial;
}
.table-list .numeric {
    width: 144px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-right: -14px !important;
    margin-left: -25px !important;
}
.table-list .group {
    margin-top: -8px;
    margin-bottom: -8px;
}
.table-list .text-inputs {
    margin-top: 10px !important;
    width: 90px !important;
    margin-left: -25px !important;
    margin-bottom: 2px !important;
}
.table-list .text-input {
    margin-top: 10px !important;
    width: 90px !important;
    margin-left: -26px !important;
	float:left;
}
.table-list .datetime {
    margin-right: -22px !important;
    width: 144px !important;
    margin-top: 12px !important;
    margin-bottom: 3px !important;
    margin-left: -25px !important;
	padding: 6px 6px !important;
}
.table-list .boxs {
    margin-top: 12px !important;
    margin-left: -29px !important;
}
.table-list .numerics {
    margin-left: -32px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 124px !important;
}
.boxs .form-control {
    width: 97px !important;
    margin-top: -4px !important;
}
.legend {
    margin-left: -136px;
}
.radio {
    margin-top: -10px;
    margin-left: 5px;
}
label.checkbox.radio > * {

}
.radio .form-control {
    width: 120px;
    display: table-cell;
    margin-top: -6px;
}
.time {
    margin-top: 10px;
    margin-left: 2px;
    position: relative;
    top: 10px;
    left: -4px;
}
.top {
    margin-top: -20px;
}
.chkbox .form-control {
    width: 120px;
    display: table-cell;
    margin-top: -6px
}
.chkbox {
   margin-top:-20px;
}
@media only screen and (min-width:1260px) and (max-width:1299px)  {
.tabs-btn {
    width: 100.3%;
}
}
@media only screen and (min-width:1200px) and (max-width:1259px)  {
.tabs-btn{
    width: 100.5%;
}
}
@media (max-width:1366px){
.question {
    margin-left: 50px;
	background-position-x: 4px;
    background-position-y: 1px;
}
.header {
    margin-left: 20px;
}
.actionbacks {
    width: 95%;
	margin-left: -1px;
	margin-right:1px;
}
}
.subalign {
    margin-left: -30px;
    margin-top: 8px;
}
.sub-question {
    margin-left: -15px;
	margin-top: -10px;
}
.editing {
    background: rgba(199, 223, 247, 0.75);
    float: left;
    width: 95%;
}
.bn {
    height: 30px !important;
    margin-top: -1px !important;
}
.editing-view {
    background: #e9f2fb;
    width: 95%;
    float: left;
    padding: 10px;
    margin-top: -2px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}
.created {
    margin-right: 6px;
    font-family: arial;
    font-size: 14px;
}
.back-push {
    font-size: 18px;
    font-family: arial;
    margin-top: 6px;
	text-decoration: none !important;
	position: relative;
    left: -60px;
}
.left-arrow {
    margin-right: 8px;
    font-size: 14px;
}
.table-list .numer-top {
    margin-top: 10px !important;
}
.sub-manage {
     width: 99% !important;
	 margin-left: 0px !important;
}
@media (max-width: 1300px) {
.locations {
     margin-left: 30px !important;
}
.manage h3 {
    /* margin-left: 30px !important;*/
}
.templatetabs{
    width:30%!important;
}
.dashboard-table{
    width: 99%!important;
}
.border-left{
    border-left: 0px solid #ffffff!important;
}
.orange{
   width: 95%!important; 
}
.red{
     width: 95%!important; 
}
.blue{
   width: 95%!important;  
}
.green{
  width: 95%!important;   
}
}
.questionAnsList{
    padding:0px!important;
}
.menubarlocations{
    margin-left:-15px!important;
}
.templatetabs{
    width:27.5%;
}
.backbtndiv{
    width:64%;
}
.backbtn{
    left: 0px!important; 
    cursor: pointer;
} 
.templatebtns{
    height: 37px;
    font-size: 16px;
    font-weight: 400;
    font-family: arial;
    cursor: pointer;
}
@media (min-width: 1900px) {
.rightcontent{
    margin-left:6%!important;
}

.countrieslist{
    width:100%!important;
}
}

.locationContent{
    padding:0px!important;
}
.templateContent{
   overflow-x:scroll;
}
.activecolor:hover{
    background-color: #2882dd !important;
    color: white !important;
    border: 1px solid #1385cb !important;
    font-size: 17px;
}

.notactive:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}




