.team  img{float: left;margin-left: 10px;height: 30px;}
.team h1 {font-family:arial;font-size: 20px;font-weight: 600;font-style: normal;font-stretch: normal;color: #343233;margin-top: 5px;margin-left: 50px;}
.team-btn {margin-right:10px;}
.team-btn .btn {width:200px;font-family: arial;font-size: 16px;font-weight:normal;font-style: normal;font-stretch: normal;color: #343233;border:2px solid #2882dd;}
.team-btn .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{background:#2882dd;color:#fff;}
.tires-sales .panel .panel-title{font-size:20px;font-family:arial;margin:20px 0px 0px -2px;font-weight:500;color: #343233;}
.tires-sales .panel-default>.panel-heading{background:#ecf2f6;}
.tires-sales .panel-default>.panel-heading .buttons > div{display:inline-block;}
.tires-sales .panel-default>.panel-heading .buttons button{height:40px;margin-right:10px;}
.tires-sales .panel-default>.panel-heading .buttons .input-group button{height:auto;}
.tires-sales .panel-default>.panel-heading .buttons button.disable{background:#f5f5f5;}
.tires-sales .panel-default>.panel-heading .buttons button img{max-height:30px;margin-top: -2px;}
.tires-sales .panel-default>.panel-body{padding:0;}
.tires-sales .panel-default>.panel-body .table{margin-bottom:0;border-width:0;}
.manage-team-contianer{background:#EDF2F6;margin-top:40px;padding-top:20px;margin-bottom:45px; margin-right:20px; margin-left:0px;}
.manage-team-contianer .tires-sales{padding:20px;}
.manage-team-data table tr{background:#fff;}
.manage-team-data table tr:nth-of-type(2n){background:#f5f5f5;}
.assign-dropdown{z-index: 9999;background:#fff;width:400px;border:1px solid #ccc;border-radius:3px;text-align:left;position:absolute;margin-top:10px;right:0;}
.assign-dropdown:before{content:'';width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid #ccc;position:absolute;top:-6px;right:0;margin-right:50px;}
.assign-dropdown .input-group{padding:10px;width: 100%;float: left;}
.assign-dropdown .input-group input{background:#f5f5f5;}
.assign-dropdown .pop-footer{text-align:center;background:#f5f5f5;padding:10px 0;border-top:1px solid #ccc;}
.assign-dropdown h4{font-weight:normal;padding:10px;border-bottom:1px solid #ccc;font-size:14px;margin:0;}
.assign-dropdown li{margin:10px;list-style:none;color:#777;}
.assign-dropdown li li{margin:10px 0;}
.assign-dropdown li div{max-height: 190px;overflow: auto;}
.assign-dropdown li input[type=text]{width:100%;background:url(../images/searchtext.png) no-repeat center right #f6f6f6;border:1px solid #ccc;height:34px;padding:5px 10px;border-radius:3px;}
.assign-dropdown ul{padding:0;}
.tires-sales { 
    margin-top: 20px;
    margin-bottom: 50px;
    float: left;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
}
.tires-sales .border { border-color:#ecf2f6;width:100%;}
.tires-sales .btn-texts {margin-top: 16px;border: 1px solid #ddd;padding: 10px;background: #fff; margin-bottom: -10px;}
.panel-border {border: 1px solid #ddd;}
.tires-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(1) {width: 30px;}
.tires-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(2) {    max-width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tires-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(3) {    max-width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tires-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(4) {    max-width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tires-sales .panel-default>.panel-body .table> tbody> tr> td:nth-child(5) {    max-width: 100px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.manage-background { background:#ecf2f6;}
.assign-dropdown label {font-weight: 100;position: relative;top: -2px;left: 6px; font-family:arial;}
.assign-dropdown .uib-datepicker-popup.dropdown-menu {
    padding-bottom: 20px !important;
}
.model-lists > thead > tr > th:nth-child(1){
    min-width:700px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model-lists> thead > tr > th:nth-child(2){
    min-width:100px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model-lists> thead > tr > th:nth-child(3){
    min-width: 100px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model-lists> thead > tr > th:nth-child(4){
    min-width:10px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model-lists> thead > tr > th:nth-child(5){
    min-width:10px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model-lists > tbody > tr > td:nth-child(1){
    max-width:700px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model-lists> tbody > tr > td:nth-child(2){
    max-width:100px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model-lists> tbody > tr > td:nth-child(3){
    max-width: 100px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model-lists> tbody > tr > td:nth-child(4){
    max-width:10px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.model-lists> tbody > tr > td:nth-child(5){
    max-width:10px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.assign-audit {
    width: 402px !important;
    height: 310px !important;
}
.audit-date {
    float: left;
    top: 15px !important;
    left: -6px !important;
	width:100%;
}
.audit-person{
    width:100%;
}
.audit-done {
    width:100%;
}
.audit-dates {
    float: left;
    top: 15px !important; 
	margin-left:17px;
	left: -3px !important;
}
.audit-input {
    width: 27%;
	float: left;
	margin-top: 10px;
}
.audit-btn {
    margin-top: 10px !important;
    margin-left: 8px !important;
    height: 32px !important;
    float: left;
    margin-bottom: 5px;
	width: 36px;
}
.audit-ctry {
    width: 50%;
    margin-left: 5px;
}
.audit-temp {
    margin-left: 5px;
    width: 96%;
}
.audit-fromgrp {
    padding: 5px;
    margin-bottom: 0px;
}
.forminputs {
    margin-top: -5px;
    margin-left: 4px;
}
.formsinputs {
    margin-top: -10px;
	margin-left: -12px;
}
.audit-btngroup {
    margin-left: 30px;
    margin-top: 70px !important;
    margin-right: 30px;
}
.audit-icon {
    position: relative;
    top: -2px;
	left: -2px;
}
.audit-btngroup .btn {
    background: #2882DD;
    color: #fff;
    font-size: 12px;
    font-family: arial;
}
.btn-alng {
    position: relative;
    left: 13%;
}
.forminputs h3 {
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    margin-left: -6px;
    margin-bottom: -2px;
}
.table-team {
   margin-top:0px !important;
   font-family:arial;
   background: #eee;
}
.custom-checkbox {
   margin-left: 5px;
}
.manage-teams {
    margin-top: -30px;
    width: 100%;
    float: left;
}
.manage {
    float: left;
    width: 100%;
}
.manage-navlefts {
    margin-left: -126px;
    margin-top: -48px;
}
@media only screen and (min-width:1350px) and (max-width:1366px)  { 
	.audit-date {
		margin-left:0px;
	}
	.audit-fromgrp {
	    margin-left:0px;
	}
	.audit-dates {
	    margin-left: 13px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .navbar .navbar-header > span {
    float: left !important;
  }
}
