.rows {    
    /* margin-bottom: 20px; */
    margin-top: 190px;
    /* margin-left: 15px; */
    float: left;
    width: 100%;
    /* z-index: -1; */
}
.search-icon {
    position: fixed;    
    width: 89.3%;
    top: 142px;
    background: #fff;
    padding: 10px;
    height: 50px;    
	border: 1px solid #dae0e6;
}
.res-table {
    float: left;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 0px;
    background: #fff;
}
input[type="text"]:focus {
    outline: 2px solid #2882DD !important;
}
.search-icon input[type=text] {
    width: 17.5%;
    height: 31px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url(images/search.png);
    background-position: right;
    background-repeat: no-repeat;
    padding: 12px 25px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-size: 40px;
    float: right;
    background-size: 30px;
    margin-right: 5px;
    font-family: arial;
    margin-top: -2px;
}
.res-table .table-bordered {
    border: 1px solid #dae0e6  !important;
	font-family:arial;
}
.res-table .table-bordered > tbody > tr:nth-child(2n+1) {
    background:#f5f5f5;
}
.center {
    margin-top: 102px;
    position: fixed;
    
    padding: 6px;
    width: 89.6%;
    z-index: 1;
	background: #ecf2f6;
}
.center img {
   cursor:pointer;
}
.btnstyles {
	float:left;
	height: 28px;
}
.btnstyles .btn-default{
    min-width: 180px;
    min-height: 40px;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    font-family: arial;
    cursor: pointer;
    margin-left: -6px;
    margin-top: -6px;
    text-align: center;
	border-left: 1px solid #dae0e6 !important;
	border-right: 1px solid #dae0e6 !important;
	border-top: 1px solid #dae0e6 !important;
}
.btnstyles .btn-default.active {
    background-color:#2882dd;
	color:white;
}
.btn-default.active:hover,.btn-default.active:focus  {
    background-color:#2882dd !important;
	color:white !important;
    border:2px solid #1385cb !important;	
}
.dealers {
    margin-left: -15px;
}
.truck {
    width: 100%;
    background: #ecf2f6;
    margin-top: 50px;
    position: fixed;
    z-index: 1;
}
.truck h3 {
  font-family:arial;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #343233;
}
.overline {
  float:left;
  width:100%;
  margin-left:0px !important;
}
.res-table .table-bordered > thead > tr { background:#fff; color:#000; border-left: 1px solid #dae0e6;
    border-right: 1px solid #dae0e6;border-bottom: 2px solid #dae0e6; }
.res-table .table-bordered > thead > tr > th:last-child {
    border: none !important;
	}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td { border-bottom-width: 0px;}
.res-table .table-bordered > tbody > tr >td,.res-table .table-bordered > thead > th { border-left:none !important; border-bottom:1px solid #dae0e6;cursor:pointer;font-family:arial; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;}
.res-table .table th:last-child  { border-right:2px solid #dae0e6;}
.menu {padding:0px 0px;border:none;margin-right:10px;width: 215px;}
.menu img {width:20px;}
.dropdown-menu > li > a {color:#004c98;font-family: arial;padding: 10px 20px;cursor:pointer;display: flex;}
.navbar{height:50px;background-color:#004c98;box-shadow:4px 0 6px 0 rgba(1, 14, 27, 0.89);margin-bottom:0;border-width:0;border-radius:0;}
.navbar .navbar-brand{height:40px;padding:0 22px;margin:5px 0;border-right:1px solid #fff;}
.navbar .navbar-header > span{font-size:15px;color:#fff;line-height:50px;padding-left:20px; font-family: arial;}
.navbar .navbar-brand img{height:36px; width:60px;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{font-family: arial; color:#fff;font-size:14px;line-height:20px;background-color:transparent;margin-right:20px;}
.left-nav {
    width: 107px;
    display: inline-block;
    position: fixed;
    /*height: 800px;*/
    background: #eee;
    box-shadow: 3px 2px 3px #888;
}
.left-nav ul{padding:0;border-right:1px solid #9ba4ad;border-left:1px solid #9ba4ad;margin-top:50px;}
.left-nav li{list-style:none; font-family: arial;}
.left-nav li a{padding:50px 5px 0;height:30px;display:block;color:#808080;background-color:#eee;background-repeat:no-repeat;width:105px;height:95px;background-position:center 10px;text-align:center;list-style:none;text-decoration:none;}
.left-nav li {border:1px solid #ddd;font-size:12px;box-shadow: 3px 2px 3px #888;}
.left-nav li:nth-child(1){width: 103px;height: 70px;}
.left-nav li:nth-child(2){width: 103px;height: 70px;}
.left-nav li:nth-child(3){width: 103px;height: 85px;}
.left-nav li:nth-child(4){width: 103px;height: 70px;}
.left-nav li:nth-child(5){width: 103px;height: 85px;}
.left-nav li:nth-child(6){width: 103px;height: 85px;}
.left-nav li:nth-child(7){width: 103px;height: 70px;}
.navleft li:nth-child(1){width: 110px;height: 70px;}
.navleft li:nth-child(2){width: 110px;height: 70px;}
.navleft li:nth-child(3){width: 110px;height: 85px;}
.navleft li:nth-child(4){width: 110px;height: 70px;}
.navleft li:nth-child(5){width: 110px;height: 85px;}
.navleft li:nth-child(6){width: 110px;height: 85px;}
.navleft li:nth-child(7){width: 110px;height: 70px;}
.left-nav li a span{display:block; margin-top:-4px;}
.res-table .table-bordered > tbody > tr > th > img { width:16px;}
.left-nav li.active a{background-color:#2882dd;color:#fff;list-style: none;text-decoration: none;}
.left-nav li.dashboard a{background-image:url("images/dashboard.png");}
.left-nav li.dashboard.active a{background-image:url("images/dashboardactive.png");}
.left-nav li.audits a{background-image:url("images/auditsone.png");}
.left-nav li.audits.active a{background-image:url("images/auditsactive.png");}
.left-nav li.truckforcedealers a{background-image:url("images/truckforce.png");}
.left-nav li.truckforcedealers.active a{background-image:url("images/truckforceactive.png");}
.left-nav li.manageteams a{background-image:url("images/manageone.png");}
.left-nav li.manageteams.active a{background-image:url("images/manageactive.png");}
.left-nav li.managelocations a{background-image:url("images/managelocation.png");}
.left-nav li.managelocations.active a{background-image:url("images/managelocationactive.png");}
.left-nav li.managetemplate a{background-image:url("images/manageaudit.png");}
.left-nav li.managetemplate.active a{background-image:url("images/manageauditactive.png");}
.left-nav li.settings a{background-image:url("images/settings.png");height:70px;}
.left-nav li.settings.active a{background-image:url("images/settingsactive.png");}
.version {margin-left:20px;}
footer{background:#0f243a;padding:0px;float:left;width:100%;bottom:0;position:fixed;line-height:15px;}
.good-year img:first-child{border-right:1px solid #818181;padding-right:10px;margin-right:10px;}
.copy-right{float:right;color:#c0c0c0; font-family: arial;margin-top: 7px;margin-right: 30px;}
.good-year {margin-top: 4px; margin-left:10px;}
.nodealer {
      width:100%;
	  float:left;
}
.nodealer h1 {
    text-align: center;
    font-size: 20px;
    width: 100%;
}
.nodealer p {
    text-align: center;
    width: 100%;
    float: left;
    white-space: pre-line;
}
.nodealer img {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50px;
}
.navleft li a {
    width:110px;
}
.tts-pagination {
    position: relative;
    top: 100px;
}
@media (max-width:768px){
	.left-nav{width:52px;}
	.navleft ul {width:62px !important;margin-top: 80px;}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {color:white;background:#004c98;}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {background:white;}
	.navbar-nav .open .dropdown-menu {margin-top:-9px;}
	.left-nav li a span{display:none;}
	.left-nav li a{width:50px;height:60px;}
	.left-nav li:nth-child(1){width: 50px;height: 60px;}
    .left-nav li:nth-child(2){width: 50px;height: 60px;}
    .left-nav li:nth-child(3){width: 50px;height: 60px;}
    .left-nav li:nth-child(4){width: 50px;height: 60px;}
    .left-nav li:nth-child(5){width: 50px;height: 60px;}
    .left-nav li:nth-child(6){width: 50px;height: 60px;}
    .left-nav li:nth-child(7){width: 50px;height: 60px;}
	.navleft li a{width:60px;height:60px;}
	.navleft li:nth-child(1){width: 60px;height: 60px;}
    .navleft li:nth-child(2){width: 60px;height: 60px;}
    .navleft li:nth-child(3){width: 60px;height: 60px;}
    .navleft li:nth-child(4){width: 60px;height: 60px;}
    .navleft li:nth-child(5){width: 60px;height: 60px;}
    .navleft li:nth-child(6){width: 60px;height: 60px;}
    .navleft li:nth-child(7){width: 60px;height: 60px;}
	.manages-location {margin-left: 40px !important;} 
	.list {margin-left: -21px !important;}
	.overline {
	    position: relative;
        left: 60px;
	}
	.nav-barleft {
		margin-top: -30px;
		margin-left: -20px;
	}
	.manage-button {
	    margin-left: 46px !important;
	}
	.location-navleft { margin-top:-30px;}
	.manage-navlefts {margin-left: -77px !important;}
	.manage-navlefts ul {width: 53px !important;}
	.list-view {margin-left: 76px !important;}
	.audit-background { margin-left: 60px !important;}
	.audit-manages { margin-left: 40px !important;}
	.navbar .navbar-brand img{height:36px;}
	.navbar .navbar-brand{height:40px;border-width:0;padding-right:0;margin-bottom:0;}
	.copy-right{margin-top: -14px;}
	.navbar-collapse{float:right;position: relative;top: -65px;height: 65px;border-top: 0;}
	.navbar .navbar-header > span {font-size:12px;}
	.navbar-nav {margin: 3.5px -15px;}
	.res-table .table-bordered > thead {top:188px;width: 95.4%;}
	.search-icon input[type=text] { width:46% !important;}
	     .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
     line-height:50px;
     }
}
@media (max-width:717px){.search-icon input[type=text] { width:50% !important;}}	
@media (max-width:660px){
      .search-icon input[type=text] { width:60% !important;}
      .good-year img {
	       height:15px;
	  }
	  .copy-right {
	      font-size:10px;
		  margin-top: -14px;
	  }
	  .form-top {
	      margin: 170px 20px 120px !important;
	  } 
}																				
@media (max-width:599px){
	.navbar{height:50px;}
	.left-nav ul{margin-top:50px;}
	.navbar .navbar-brand{height:40px;margin-bottom:0;}
	.navbar .navbar-header > span{position:absolute;top: 13px;;line-height:normal;width:100%;text-align: center;left: -60px;;padding: 0;font-size:10px;}
	.rows {margin-top: 96px;}
	.res-table {margin-top: 100px !important;}
     .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
     line-height: 41px;
     }
}
@media (max-width:1199px) {
	.search-icon input[type=text] {
		width:20%;
	}
}
@media (max-width:991px) {
	.search-icon input[type=text] {
		width:20%;
	}
}
@media (max-width:530px) {
.btnstyles .btn-default{
    min-width: 170px;
	font-size: 18px;
}
.btnstyles .btn-primary{
    min-width: 170px;
	font-size: 18px;
}
.btnstyles {
	margin-top:10px;
}
.search-icon {margin-top: 38px !important;}
}
@media (max-width:530px) {
.btnstyles .btn-default{
    min-width: 100px;
	font-size: 14px;
}
.btnstyles .btn-primary{
    min-width: 100px;
	font-size: 14px;
	margin-left: -17px;
}
}
@media only screen and (min-width:1400px) and (max-width:1420px)  {
.form {
    margin-left: -4px !important;
}
}
@media only screen and (min-width:1380px) and (max-width:1399px)  {
.form {
    margin-left: 5px !important;
}
}
@media only screen and (min-width:1350px) and (max-width:1379px)  {
.form {
    margin-left: 0px !important;
	width: 100% !important;
}

}


@media only screen and (min-width:1320px) and (max-width:1349px)  {
.form {
    margin-left: -2px !important;
}
}
@media only screen and (min-width:1300px) and (max-width:1319px)  {

.form {
    margin-left: 0px !important;
}
}
@media only screen and (min-width:1281px) and (max-width:1299px)  {
.form {
    margin-left: -6px important;
}
}
@media only screen and (min-width:1250px) and (max-width:1280px)  {
.form {
    margin-left: -4px !important;
}
}
@media only screen and (min-width:1200px) and (max-width:1249px)  {
.overline {
    margin-left:12px !important;
}
.form {
    margin-left: 2px !important;
}
}
@media only screen and (min-width:768px) and (max-width:1199px)  {
.overline {
    position: relative;
    left: 20px;
}
.managerauditContent{
    padding-left:6px;
}

}

@media only screen and (min-width:1150px) and (max-width:1199px)  {
.form {
    margin-left: 6px !important;
}
}
@media only screen and (min-width:1130px) and (max-width:1149px)  {
.form {
    margin-left: 9px !important;
}
}
@media only screen and (min-width:1100px) and (max-width:1129px)  {

.form {
    margin-left: 11px !important;
}
}
@media only screen and (min-width:1050px) and (max-width:1099px)  {
.res-table {
    margin-left: 8px !important;
}
.searchBar{
  margin-left:8px!important;  
}
.center {
   margin-left: 8px !important;
}
}
#map {
    height:920px;
    width:900px;
	margin:0px auto;
	float:none;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
/* popup home */
.country-select {
        width:40%;
        top: 5.6em;
        position: absolute;
}
.country-select.user-details {
        color: #fff;
        -webkit-font-smoothing: antialiased;
}
.wrapper {
    position: absolute;
    left: 32%;
    top: 12%;
	max-width:418px;
    width: 25%;
    text-align: top;
	z-index:-1;
}
.welcomeUser{
	background-color: #d9e4eb;
    text-align: center;
    min-height1: 161px;
    font-size: 12px;
    padding: 20px 50px;
}
.firstLine{
	display: inline-block;
    font-size: 16px;
    width: 92%;
    padding-bottom: 15px;
	color:#1d2b29;
	font-family:arial;
	font-weight:400;
}
.highlightText{
	font-size:20px;
	font-weight:bold;
	font-family:arial;
}
.secondLine{
    display: inline-block;
    font-size: 14px;
    width: 102%;
    color: #343233;
    font-family: arial;
    font-weight: normal;
    line-height: 1.36;
}
.selectCountry{
	color:#ecf2f6;
	height1:320px;
	background-color:#ecf2f6;
	padding: 39px 36px;
	text-align: center;
}
.selectCountry select{
    width: 348px;
    height: 34px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
	color:#888;
	display: inline-block;
	background: url(../img/drop-down.png) no-repeat right;
	background-position-x: 325px;
    -webkit-appearance: none;
	-moz-appearance:none;
	appearance: none;
	background-color: #fff;
    padding-left: 10px;
    margin-bottom: 20px;
}
.add-country{
    width: 348px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 34px;
    position: relative;
	margin-left:10px;
}

.addCountry{
	text-align: left;
    width: 6%;
    height: 23px;
    display: inline-block;
    background: url(../img/add.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    top: 10px;
    position: absolute;
    left: 80px;
}

.add-country-text{
    height: 43px;
    padding: 0 0 0 10px;
    display: inline-block;
    background: transparent;
    border: 0;
    margin-left: 30px;
}
.saveCountry {
    background: url(../img/overlaySaveButton.png);
    text-indent: -9999px;
    width: 188px;
    height: 56px;
	border: 0;
}
.additionalHelp{
	width: 100%;
    height: 45px;
	text-align:center;
}
.additionalHelp input{
    background: url(../img/right-arrow.png) no-repeat right;
    border: none;
    display: inline;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    color: #2d85de;
    cursor: pointer;
    text-decoration: none;
    width: 157px;
    text-align: left;
    height: 55px;
}
.country-select.user-details {
        color: #fff;
        -webkit-font-smoothing: antialiased;
}		
.btn.defaultes {
    width: 340px;
    border: 1px solid #ccc !important;
    border-color: #ccc !important;
    margin-top: 20px;
    background: white;
	color:black;
	cursor:pointer;
}
.btn .save {
    font-family: arial;
	width: 150px;
	background:#2882DD;
	cursor:pointer !important;
}
.selectCountry .dropdefault span {
    right:19px; 
}
.plus {
    border-radius: 50%;
    padding: 3px 5px;
    border: 1px solid #333;
    font-weight: bold;
}
.backgroundwhiet {
   background:white;
   margin-bottom:40px;
   text-align:center;
   padding:10px;
}
.backgroundwhiet a {
    text-decoration: none;
    color: #2882dd;
    font-size: 16px;
    font-family: arial;
    cursor: pointer;
}
.greter {
    border-radius: 50%;
    padding: 3px 5px;
    border: 1px solid;
    font-weight: bold;
} 
.get-started {
    margin-top: 70px;
    background-color: #d9e4eb;
    text-align: center;
    min-height: 161px;
    padding: 20px 50px;
    width: 40%;
	border-bottom: 1px solid #838d92;
}
.get-started h1 {
    font-size:20px;
	font-family:arial;
}
.get-started p {
    font-size: 14px;
    font-family: arial;
}
.button-get {
    padding: 30px;
    text-align: center;
    width: 40%;
    background: white;
}
.btn .saved {
    font-family: arial;
	width: 150px;
	background:#2882DD;
	cursor:pointer !important;
	font-weight:normal;
}
.activecolor{
    background:#2882DD;
    color: white!important;
    padding: 6px 6px!important;

}
.pagination {   
    margin-left: -13%;
    top: -100px;
    position: relative;
}
.pagination > .active > a {
    z-index: 0;
}
.marg-top {
    position:relative;
	top:100px;
}
@-moz-document url-prefix() {       
.search-icon input[type="text"] {
    padding: 6px 25px 8px 12px !important;
}
}
.table {
  margin-bottom: 0px !important;
}
.res-table thead,.res-table  tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

.res-table .table-bordered > thead > tr > th:nth-child(2) {
    width: 200px;
}
.res-table .table-bordered > thead > tr > th:nth-child(3) {
    width: 200px;
}
.res-table .table-bordered > thead > tr > th:nth-child(4) {
    width: 60px;
}
.res-table .table-bordered > thead > tr > th:nth-child(5) {
    width: 60px;
}
.res-table .table-bordered > tbody > tr > td:nth-child(2) {
    width: 200px;
}
.res-table .table-bordered > tbody > tr > td:nth-child(3) {
    width: 200px;
}
.res-table .table-bordered > tbody > tr > th:nth-child(4) {
    width: 60px;
}
.res-table .table-bordered > tbody > tr > th:nth-child(5) {
    width: 60px;
}
